{
    "openapi": "3.0.1",
    "info": {
        "title": "AirQuality",
        "description": "APIs relating to AirQuality and similar services",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.tfl.gov.uk/AirQuality"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "tags": [
                    "AirQuality"
                ],
                "summary": "Gets air quality data feed",
                "description": "Gets air quality data feed",
                "operationId": "AirQuality_Get",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/System.Object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/System.Object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/System.Object"
                                },
                                "example": "<System.Object />"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/System.Object"
                                },
                                "example": "<System.Object />"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "System.Object": {
                "type": "object"
            }
        },
        "securitySchemes": {
            "apiKeyHeader": {
                "type": "apiKey",
                "name": "app_key",
                "in": "header"
            },
            "apiKeyQuery": {
                "type": "apiKey",
                "name": "app_key",
                "in": "query"
            }
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ]
}