{
    "openapi": "3.0.1",
    "info": {
        "title": "AccidentStats",
        "description": "APIs relating to AccidentStats and similar services",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.tfl.gov.uk/AccidentStats"
        }
    ],
    "paths": {
        "/{year}": {
            "get": {
                "tags": [
                    "AccidentStats"
                ],
                "summary": "Gets all accident details for accidents occuring in the specified year",
                "description": "Gets all accident details for accidents occuring in the specified year",
                "operationId": "AccidentStats_Get",
                "parameters": [
                    {
                        "name": "year",
                        "in": "path",
                        "description": "Format - int32. The year for which to filter the accidents on.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-AccidentStats-AccidentDetailArray"
                                },
                                "example": [
                                    {
                                        "id": 0,
                                        "lat": 0,
                                        "lon": 0,
                                        "location": "string",
                                        "date": "string",
                                        "severity": "string",
                                        "borough": "string",
                                        "casualties": [
                                            {
                                                "age": 0,
                                                "class": "string",
                                                "severity": "string",
                                                "mode": "string",
                                                "ageBand": "string"
                                            }
                                        ],
                                        "vehicles": [
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    }
                                ]
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-AccidentStats-AccidentDetailArray-1"
                                },
                                "example": [
                                    {
                                        "id": 0,
                                        "lat": 0,
                                        "lon": 0,
                                        "location": "string",
                                        "date": "string",
                                        "severity": "string",
                                        "borough": "string",
                                        "casualties": [
                                            {
                                                "age": 0,
                                                "class": "string",
                                                "severity": "string",
                                                "mode": "string",
                                                "ageBand": "string"
                                            }
                                        ],
                                        "vehicles": [
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    }
                                ]
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-AccidentStats-AccidentDetailArray-2"
                                },
                                "example": "<Tfl-Api-Presentation-Entities-AccidentStats-AccidentDetailArray-2> <id>0</id> <lat>0</lat> <lon>0</lon> <location>string</location> <date>string</date> <severity>string</severity> <borough>string</borough> <casualties> <age>0</age> <class>string</class> <severity>string</severity> <mode>string</mode> <ageBand>string</ageBand> </casualties> <vehicles> <type>string</type> </vehicles> </Tfl-Api-Presentation-Entities-AccidentStats-AccidentDetailArray-2>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-AccidentStats-AccidentDetailArray-3"
                                },
                                "example": "<Tfl-Api-Presentation-Entities-AccidentStats-AccidentDetailArray-3> <id>0</id> <lat>0</lat> <lon>0</lon> <location>string</location> <date>string</date> <severity>string</severity> <borough>string</borough> <casualties> <age>0</age> <class>string</class> <severity>string</severity> <mode>string</mode> <ageBand>string</ageBand> </casualties> <vehicles> <type>string</type> </vehicles> </Tfl-Api-Presentation-Entities-AccidentStats-AccidentDetailArray-3>"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Tfl-Api-Presentation-Entities-AccidentStats-AccidentDetailArray": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail"
                }
            },
            "Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "lat": {
                        "type": "number",
                        "format": "double"
                    },
                    "lon": {
                        "type": "number",
                        "format": "double"
                    },
                    "location": {
                        "type": "string"
                    },
                    "date": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "severity": {
                        "type": "string"
                    },
                    "borough": {
                        "type": "string"
                    },
                    "casualties": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.Casualty"
                        }
                    },
                    "vehicles": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.Vehicle"
                        }
                    }
                }
            },
            "Tfl.Api.Presentation.Entities.AccidentStats.Casualty": {
                "type": "object",
                "properties": {
                    "age": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "class": {
                        "type": "string"
                    },
                    "severity": {
                        "type": "string"
                    },
                    "mode": {
                        "type": "string"
                    },
                    "ageBand": {
                        "type": "string"
                    }
                }
            },
            "Tfl.Api.Presentation.Entities.AccidentStats.Vehicle": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string"
                    }
                }
            },
            "Tfl-Api-Presentation-Entities-AccidentStats-AccidentDetailArray-1": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail"
                }
            },
            "Tfl-Api-Presentation-Entities-AccidentStats-AccidentDetailArray-2": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail"
                }
            },
            "Tfl-Api-Presentation-Entities-AccidentStats-AccidentDetailArray-3": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail"
                }
            }
        },
        "securitySchemes": {
            "apiKeyHeader": {
                "type": "apiKey",
                "name": "app_key",
                "in": "header"
            },
            "apiKeyQuery": {
                "type": "apiKey",
                "name": "app_key",
                "in": "query"
            }
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ]
}