{
    "openapi": "3.0.1",
    "info": {
        "title": "StopPoint",
        "description": "API's relating to StopPoint and similar services",
        "license": {
            "name": "Transport Data Service",
            "url": "https://tfl.gov.uk/corporate/terms-and-conditions/transport-data-service"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.tfl.gov.uk/StopPoint"
        }
    ],
    "paths": {
        "/Meta/Categories": {
            "get": {
                "tags": [
                    "StopPoint"
                ],
                "summary": "Gets the list of available StopPoint additional information categories",
                "description": "Gets the list of available StopPoint additional information categories",
                "operationId": "StopPoint_MetaCategories",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointCategory"
                                    }
                                },
                                "example": [
                                    {
                                        "category": "string",
                                        "availableKeys": [
                                            "string"
                                        ]
                                    }
                                ]
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointCategory"
                                    }
                                },
                                "example": [
                                    {
                                        "category": "string",
                                        "availableKeys": [
                                            "string"
                                        ]
                                    }
                                ]
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointCategory"
                                    }
                                },
                                "example": "<MetaCategoriesGet200ApplicationXmlResponse> <category>string</category> <availableKeys>string</availableKeys> </MetaCategoriesGet200ApplicationXmlResponse>"
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointCategory"
                                    }
                                },
                                "example": "<MetaCategoriesGet200TextXmlResponse> <category>string</category> <availableKeys>string</availableKeys> </MetaCategoriesGet200TextXmlResponse>"
                            }
                        }
                    }
                }
            }
        },
        "/*": {
            "get": {
                "tags": [
                    "StopPoint"
                ],
                "summary": "Forwards any remaining requests to the back-end",
                "description": "Forwards any remaining requests to the back-end",
                "operationId": "Forward_Proxy",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Meta/StopTypes": {
            "get": {
                "tags": [
                    "StopPoint"
                ],
                "summary": "Gets the list of available StopPoint types",
                "description": "Gets the list of available StopPoint types",
                "operationId": "StopPoint_MetaStopTypes",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "example": [
                                    "string"
                                ]
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "example": [
                                    "string"
                                ]
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "example": "<MetaStopTypesGet200ApplicationXmlResponse>string</MetaStopTypesGet200ApplicationXmlResponse>"
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "example": "<MetaStopTypesGet200TextXmlResponse>string</MetaStopTypesGet200TextXmlResponse>"
                            }
                        }
                    }
                }
            }
        },
        "/Meta/Modes": {
            "get": {
                "tags": [
                    "StopPoint"
                ],
                "summary": "Gets the list of available StopPoint modes",
                "description": "Gets the list of available StopPoint modes",
                "operationId": "StopPoint_MetaModes",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Mode"
                                    }
                                },
                                "example": [
                                    {
                                        "isTflService": true,
                                        "isFarePaying": true,
                                        "isScheduledService": true,
                                        "modeName": "string"
                                    }
                                ]
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Mode"
                                    }
                                },
                                "example": [
                                    {
                                        "isTflService": true,
                                        "isFarePaying": true,
                                        "isScheduledService": true,
                                        "modeName": "string"
                                    }
                                ]
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Mode"
                                    }
                                },
                                "example": "<MetaModesGet200ApplicationXmlResponse> <isTflService>true</isTflService> <isFarePaying>true</isFarePaying> <isScheduledService>true</isScheduledService> <modeName>string</modeName> </MetaModesGet200ApplicationXmlResponse>"
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Mode"
                                    }
                                },
                                "example": "<MetaModesGet200TextXmlResponse> <isTflService>true</isTflService> <isFarePaying>true</isFarePaying> <isScheduledService>true</isScheduledService> <modeName>string</modeName> </MetaModesGet200TextXmlResponse>"
                            }
                        }
                    }
                }
            }
        },
        "/{ids}": {
            "get": {
                "tags": [
                    "StopPoint"
                ],
                "summary": "Gets a list of StopPoints corresponding to the given list of stop ids.",
                "description": "Gets a list of StopPoints corresponding to the given list of stop ids.",
                "operationId": "StopPoint_GetByPathIdsQueryIncludeCrowdingData",
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "description": "A comma-separated list of stop point ids (station naptan code e.g. 940GZZLUASL). Max. approx. 20 ids.\r\n            You can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "HUBWAT"
                    },
                    {
                        "name": "includeCrowdingData",
                        "in": "query",
                        "description": "Include the crowding data (static). To Filter further use: /StopPoint/{ids}/Crowding/{line}",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{id}/placeTypes": {
            "get": {
                "tags": [
                    "StopPoint"
                ],
                "summary": "Get a list of places corresponding to a given id and place types.",
                "description": "Get a list of places corresponding to a given id and place types.",
                "operationId": "StopPoint_GetByPathIdQueryPlaceTypes",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "A naptan id for a stop point (station naptan code e.g. 940GZZLUASL).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "930GWMP"
                    },
                    {
                        "name": "placeTypes",
                        "in": "query",
                        "description": "A comcomma-separated value representing the place types.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "NaptanFerryEntrance"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{id}/Crowding/{line}": {
            "get": {
                "tags": [
                    "StopPoint"
                ],
                "summary": "Gets all the Crowding data (static) for the StopPointId, plus crowding data for a given line and optionally a particular direction.",
                "description": "Gets all the Crowding data (static) for the StopPointId, plus crowding data for a given line and optionally a particular direction.",
                "operationId": "StopPoint_CrowdingByPathIdPathLineQueryDirection",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The Naptan id of the stop",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "940GZZLUSWK"
                    },
                    {
                        "name": "line",
                        "in": "path",
                        "description": "A particular line e.g. victoria, circle, northern etc.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "jubilee"
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "description": "The direction of travel. Can be inbound or outbound.",
                        "required": true,
                        "schema": {
                            "enum": [
                                "inbound",
                                "outbound",
                                "all"
                            ],
                            "type": "string"
                        },
                        "example": "all"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Type/{types}": {
            "get": {
                "tags": [
                    "StopPoint"
                ],
                "summary": "Gets all stop points of a given type",
                "description": "Gets all stop points of a given type",
                "operationId": "StopPoint_GetByTypeByPathTypes",
                "parameters": [
                    {
                        "name": "types",
                        "in": "path",
                        "description": "A comma-separated list of the types to return. Max. approx. 12 types. \r\n            A list of valid stop types can be obtained from the StopPoint/meta/stoptypes endpoint.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "TransportInterchange"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Type/{types}/page/{page}": {
            "get": {
                "tags": [
                    "StopPoint"
                ],
                "summary": "Gets all the stop points of given type(s) with a page number",
                "description": "Gets all the stop points of given type(s) with a page number",
                "operationId": "StopPoint_GetByTypeWithPaginationByPathTypesPathPage",
                "parameters": [
                    {
                        "name": "types",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "TransportInterchange"
                    },
                    {
                        "name": "page",
                        "in": "path",
                        "description": "Format - int32.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ServiceTypes": {
            "get": {
                "tags": [
                    "StopPoint"
                ],
                "summary": "Gets the service types for a given stoppoint",
                "description": "Gets the service types for a given stoppoint",
                "operationId": "StopPoint_GetServiceTypesByQueryIdQueryLineIdsQueryModes",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "The Naptan id of the stop",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "910GSTJMSST"
                    },
                    {
                        "name": "lineIds",
                        "in": "query",
                        "description": "The lines which contain the given Naptan id (all lines relevant to the given stoppoint if empty)",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "modes",
                        "in": "query",
                        "description": "The modes which the lines are relevant to (all if empty)",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.LineServiceType"
                                    }
                                },
                                "example": [
                                    {
                                        "lineName": "string",
                                        "lineSpecificServiceTypes": [
                                            {
                                                "serviceType": {
                                                    "name": "string",
                                                    "uri": "string"
                                                },
                                                "stopServesServiceType": true
                                            }
                                        ]
                                    }
                                ]
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.LineServiceType"
                                    }
                                },
                                "example": [
                                    {
                                        "lineName": "string",
                                        "lineSpecificServiceTypes": [
                                            {
                                                "serviceType": {
                                                    "name": "string",
                                                    "uri": "string"
                                                },
                                                "stopServesServiceType": true
                                            }
                                        ]
                                    }
                                ]
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.LineServiceType"
                                    }
                                },
                                "example": "<ServiceTypesGet200ApplicationXmlResponse> <lineName>string</lineName> <lineSpecificServiceTypes> <serviceType> <name>string</name> <uri>string</uri> </serviceType> <stopServesServiceType>true</stopServesServiceType> </lineSpecificServiceTypes> </ServiceTypesGet200ApplicationXmlResponse>"
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.LineServiceType"
                                    }
                                },
                                "example": "<ServiceTypesGet200TextXmlResponse> <lineName>string</lineName> <lineSpecificServiceTypes> <serviceType> <name>string</name> <uri>string</uri> </serviceType> <stopServesServiceType>true</stopServesServiceType> </lineSpecificServiceTypes> </ServiceTypesGet200TextXmlResponse>"
                            }
                        }
                    }
                }
            }
        },
        "/{id}/Arrivals": {
            "get": {
                "tags": [
                    "StopPoint"
                ],
                "summary": "Gets the list of arrival predictions for the given stop point id",
                "description": "Gets the list of arrival predictions for the given stop point id",
                "operationId": "StopPoint_ArrivalsByPathId",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "A StopPoint id (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "HUBWAT"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Prediction"
                                    }
                                },
                                "example": [
                                    {
                                        "id": "string",
                                        "operationType": 0,
                                        "vehicleId": "string",
                                        "naptanId": "string",
                                        "stationName": "string",
                                        "lineId": "string",
                                        "lineName": "string",
                                        "platformName": "string",
                                        "direction": "string",
                                        "bearing": "string",
                                        "destinationNaptanId": "string",
                                        "destinationName": "string",
                                        "timestamp": "string",
                                        "timeToStation": 0,
                                        "currentLocation": "string",
                                        "towards": "string",
                                        "expectedArrival": "string",
                                        "timeToLive": "string",
                                        "modeName": "string",
                                        "timing": {
                                            "countdownServerAdjustment": "string",
                                            "source": "string",
                                            "insert": "string",
                                            "read": "string",
                                            "sent": "string",
                                            "received": "string"
                                        }
                                    }
                                ]
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Prediction"
                                    }
                                },
                                "example": [
                                    {
                                        "id": "string",
                                        "operationType": 0,
                                        "vehicleId": "string",
                                        "naptanId": "string",
                                        "stationName": "string",
                                        "lineId": "string",
                                        "lineName": "string",
                                        "platformName": "string",
                                        "direction": "string",
                                        "bearing": "string",
                                        "destinationNaptanId": "string",
                                        "destinationName": "string",
                                        "timestamp": "string",
                                        "timeToStation": 0,
                                        "currentLocation": "string",
                                        "towards": "string",
                                        "expectedArrival": "string",
                                        "timeToLive": "string",
                                        "modeName": "string",
                                        "timing": {
                                            "countdownServerAdjustment": "string",
                                            "source": "string",
                                            "insert": "string",
                                            "read": "string",
                                            "sent": "string",
                                            "received": "string"
                                        }
                                    }
                                ]
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Prediction"
                                    }
                                },
                                "example": "<id-ArrivalsGet200ApplicationXmlResponse> <id>string</id> <operationType>0</operationType> <vehicleId>string</vehicleId> <naptanId>string</naptanId> <stationName>string</stationName> <lineId>string</lineId> <lineName>string</lineName> <platformName>string</platformName> <direction>string</direction> <bearing>string</bearing> <destinationNaptanId>string</destinationNaptanId> <destinationName>string</destinationName> <timestamp>string</timestamp> <timeToStation>0</timeToStation> <currentLocation>string</currentLocation> <towards>string</towards> <expectedArrival>string</expectedArrival> <timeToLive>string</timeToLive> <modeName>string</modeName> <timing> <countdownServerAdjustment>string</countdownServerAdjustment> <source>string</source> <insert>string</insert> <read>string</read> <sent>string</sent> <received>string</received> </timing> </id-ArrivalsGet200ApplicationXmlResponse>"
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Prediction"
                                    }
                                },
                                "example": "<id-ArrivalsGet200TextXmlResponse> <id>string</id> <operationType>0</operationType> <vehicleId>string</vehicleId> <naptanId>string</naptanId> <stationName>string</stationName> <lineId>string</lineId> <lineName>string</lineName> <platformName>string</platformName> <direction>string</direction> <bearing>string</bearing> <destinationNaptanId>string</destinationNaptanId> <destinationName>string</destinationName> <timestamp>string</timestamp> <timeToStation>0</timeToStation> <currentLocation>string</currentLocation> <towards>string</towards> <expectedArrival>string</expectedArrival> <timeToLive>string</timeToLive> <modeName>string</modeName> <timing> <countdownServerAdjustment>string</countdownServerAdjustment> <source>string</source> <insert>string</insert> <read>string</read> <sent>string</sent> <received>string</received> </timing> </id-ArrivalsGet200TextXmlResponse>"
                            }
                        }
                    }
                }
            }
        },
        "/{id}/ArrivalDepartures": {
            "get": {
                "tags": [
                    "StopPoint"
                ],
                "summary": "Gets the list of arrival and departure predictions for the given stop point id (overground and tfl rail only)",
                "description": "Gets the list of arrival and departure predictions for the given stop point id (overground and tfl rail only)",
                "operationId": "StopPoint_ArrivalDeparturesByPathIdQueryLineIds",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "A StopPoint id (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "HUBWAT"
                    },
                    {
                        "name": "lineIds",
                        "in": "query",
                        "description": "A comma-separated list of line ids e.g. tfl-rail, london-overground",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "tfl-rail"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.ArrivalDeparture"
                                    }
                                },
                                "example": [
                                    {
                                        "platformName": "string",
                                        "destinationNaptanId": "string",
                                        "destinationName": "string",
                                        "naptanId": "string",
                                        "stationName": "string",
                                        "estimatedTimeOfArrival": "string",
                                        "scheduledTimeOfArrival": "string",
                                        "estimatedTimeOfDeparture": "string",
                                        "scheduledTimeOfDeparture": "string",
                                        "minutesAndSecondsToArrival": "string",
                                        "minutesAndSecondsToDeparture": "string",
                                        "cause": "string",
                                        "departureStatus": "OnTime",
                                        "timing": {
                                            "countdownServerAdjustment": "string",
                                            "source": "string",
                                            "insert": "string",
                                            "read": "string",
                                            "sent": "string",
                                            "received": "string"
                                        }
                                    }
                                ]
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.ArrivalDeparture"
                                    }
                                },
                                "example": [
                                    {
                                        "platformName": "string",
                                        "destinationNaptanId": "string",
                                        "destinationName": "string",
                                        "naptanId": "string",
                                        "stationName": "string",
                                        "estimatedTimeOfArrival": "string",
                                        "scheduledTimeOfArrival": "string",
                                        "estimatedTimeOfDeparture": "string",
                                        "scheduledTimeOfDeparture": "string",
                                        "minutesAndSecondsToArrival": "string",
                                        "minutesAndSecondsToDeparture": "string",
                                        "cause": "string",
                                        "departureStatus": "OnTime",
                                        "timing": {
                                            "countdownServerAdjustment": "string",
                                            "source": "string",
                                            "insert": "string",
                                            "read": "string",
                                            "sent": "string",
                                            "received": "string"
                                        }
                                    }
                                ]
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.ArrivalDeparture"
                                    }
                                },
                                "example": "<id-ArrivalDeparturesGet200ApplicationXmlResponse> <platformName>string</platformName> <destinationNaptanId>string</destinationNaptanId> <destinationName>string</destinationName> <naptanId>string</naptanId> <stationName>string</stationName> <estimatedTimeOfArrival>string</estimatedTimeOfArrival> <scheduledTimeOfArrival>string</scheduledTimeOfArrival> <estimatedTimeOfDeparture>string</estimatedTimeOfDeparture> <scheduledTimeOfDeparture>string</scheduledTimeOfDeparture> <minutesAndSecondsToArrival>string</minutesAndSecondsToArrival> <minutesAndSecondsToDeparture>string</minutesAndSecondsToDeparture> <cause>string</cause> <departureStatus>OnTime</departureStatus> <timing> <countdownServerAdjustment>string</countdownServerAdjustment> <source>string</source> <insert>string</insert> <read>string</read> <sent>string</sent> <received>string</received> </timing> </id-ArrivalDeparturesGet200ApplicationXmlResponse>"
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.ArrivalDeparture"
                                    }
                                },
                                "example": "<id-ArrivalDeparturesGet200TextXmlResponse> <platformName>string</platformName> <destinationNaptanId>string</destinationNaptanId> <destinationName>string</destinationName> <naptanId>string</naptanId> <stationName>string</stationName> <estimatedTimeOfArrival>string</estimatedTimeOfArrival> <scheduledTimeOfArrival>string</scheduledTimeOfArrival> <estimatedTimeOfDeparture>string</estimatedTimeOfDeparture> <scheduledTimeOfDeparture>string</scheduledTimeOfDeparture> <minutesAndSecondsToArrival>string</minutesAndSecondsToArrival> <minutesAndSecondsToDeparture>string</minutesAndSecondsToDeparture> <cause>string</cause> <departureStatus>OnTime</departureStatus> <timing> <countdownServerAdjustment>string</countdownServerAdjustment> <source>string</source> <insert>string</insert> <read>string</read> <sent>string</sent> <received>string</received> </timing> </id-ArrivalDeparturesGet200TextXmlResponse>"
                            }
                        }
                    }
                }
            }
        },
        "/{id}/CanReachOnLine/{lineId}": {
            "get": {
                "tags": [
                    "StopPoint"
                ],
                "summary": "Gets Stopoints that are reachable from a station/line combination.",
                "description": "Gets Stopoints that are reachable from a station/line combination.",
                "operationId": "StopPoint_ReachableFromByPathIdPathLineIdQueryServiceTypes",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The id (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name) of the stop point to filter by",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "940GZZLUASL"
                    },
                    {
                        "name": "lineId",
                        "in": "path",
                        "description": "Line id of the line to filter by (e.g. victoria)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Piccadilly"
                    },
                    {
                        "name": "serviceTypes",
                        "in": "query",
                        "description": "A comma-separated list of service types to filter on. If not specified. Supported values: Regular, Night. Defaulted to 'Regular' if not specified",
                        "schema": {
                            "enum": [
                                "Regular",
                                "Night"
                            ],
                            "type": "string"
                        },
                        "example": "Regular"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                                    }
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{id}/Route": {
            "get": {
                "tags": [
                    "StopPoint"
                ],
                "summary": "Returns the route sections for all the lines that service the given stop point ids",
                "description": "Returns the route sections for all the lines that service the given stop point ids",
                "operationId": "StopPoint_RouteByPathIdQueryServiceTypes",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "A stop point id (station naptan codes e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "940GZZLUASL"
                    },
                    {
                        "name": "serviceTypes",
                        "in": "query",
                        "description": "A comma-separated list of service types to filter on. If not specified. Supported values: Regular, Night. Defaulted to 'Regular' if not specified",
                        "schema": {
                            "enum": [
                                "Regular",
                                "Night"
                            ],
                            "type": "string"
                        },
                        "example": "Regular"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointRouteSection"
                                    }
                                },
                                "example": [
                                    {
                                        "naptanId": "string",
                                        "lineId": "string",
                                        "mode": "string",
                                        "validFrom": "string",
                                        "validTo": "string",
                                        "direction": "string",
                                        "routeSectionName": "string",
                                        "lineString": "string",
                                        "isActive": true,
                                        "serviceType": "string",
                                        "vehicleDestinationText": "string",
                                        "destinationName": "string"
                                    }
                                ]
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointRouteSection"
                                    }
                                },
                                "example": [
                                    {
                                        "naptanId": "string",
                                        "lineId": "string",
                                        "mode": "string",
                                        "validFrom": "string",
                                        "validTo": "string",
                                        "direction": "string",
                                        "routeSectionName": "string",
                                        "lineString": "string",
                                        "isActive": true,
                                        "serviceType": "string",
                                        "vehicleDestinationText": "string",
                                        "destinationName": "string"
                                    }
                                ]
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointRouteSection"
                                    }
                                },
                                "example": "<id-RouteGet200ApplicationXmlResponse> <naptanId>string</naptanId> <lineId>string</lineId> <mode>string</mode> <validFrom>string</validFrom> <validTo>string</validTo> <direction>string</direction> <routeSectionName>string</routeSectionName> <lineString>string</lineString> <isActive>true</isActive> <serviceType>string</serviceType> <vehicleDestinationText>string</vehicleDestinationText> <destinationName>string</destinationName> </id-RouteGet200ApplicationXmlResponse>"
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointRouteSection"
                                    }
                                },
                                "example": "<id-RouteGet200TextXmlResponse> <naptanId>string</naptanId> <lineId>string</lineId> <mode>string</mode> <validFrom>string</validFrom> <validTo>string</validTo> <direction>string</direction> <routeSectionName>string</routeSectionName> <lineString>string</lineString> <isActive>true</isActive> <serviceType>string</serviceType> <vehicleDestinationText>string</vehicleDestinationText> <destinationName>string</destinationName> </id-RouteGet200TextXmlResponse>"
                            }
                        }
                    }
                }
            }
        },
        "/Mode/{modes}/Disruption": {
            "get": {
                "tags": [
                    "StopPoint"
                ],
                "summary": "Gets a distinct list of disrupted stop points for the given modes",
                "description": "Gets a distinct list of disrupted stop points for the given modes",
                "operationId": "StopPoint_DisruptionByModeByPathModesQueryIncludeRouteBlockedStops",
                "parameters": [
                    {
                        "name": "modes",
                        "in": "path",
                        "description": "A comma-seperated list of modes e.g. tube,dlr",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Tube"
                    },
                    {
                        "name": "includeRouteBlockedStops",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.DisruptedPoint"
                                    }
                                },
                                "example": [
                                    {
                                        "atcoCode": "string",
                                        "fromDate": "string",
                                        "toDate": "string",
                                        "description": "string",
                                        "commonName": "string",
                                        "type": "string",
                                        "mode": "string",
                                        "stationAtcoCode": "string",
                                        "appearance": "string",
                                        "additionalInformation": "string"
                                    }
                                ]
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.DisruptedPoint"
                                    }
                                },
                                "example": [
                                    {
                                        "atcoCode": "string",
                                        "fromDate": "string",
                                        "toDate": "string",
                                        "description": "string",
                                        "commonName": "string",
                                        "type": "string",
                                        "mode": "string",
                                        "stationAtcoCode": "string",
                                        "appearance": "string",
                                        "additionalInformation": "string"
                                    }
                                ]
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.DisruptedPoint"
                                    }
                                },
                                "example": "<Mode-modes-DisruptionGet200ApplicationXmlResponse> <atcoCode>string</atcoCode> <fromDate>string</fromDate> <toDate>string</toDate> <description>string</description> <commonName>string</commonName> <type>string</type> <mode>string</mode> <stationAtcoCode>string</stationAtcoCode> <appearance>string</appearance> <additionalInformation>string</additionalInformation> </Mode-modes-DisruptionGet200ApplicationXmlResponse>"
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.DisruptedPoint"
                                    }
                                },
                                "example": "<Mode-modes-DisruptionGet200TextXmlResponse> <atcoCode>string</atcoCode> <fromDate>string</fromDate> <toDate>string</toDate> <description>string</description> <commonName>string</commonName> <type>string</type> <mode>string</mode> <stationAtcoCode>string</stationAtcoCode> <appearance>string</appearance> <additionalInformation>string</additionalInformation> </Mode-modes-DisruptionGet200TextXmlResponse>"
                            }
                        }
                    }
                }
            }
        },
        "/{ids}/Disruption": {
            "get": {
                "tags": [
                    "StopPoint"
                ],
                "summary": "Gets all disruptions for the specified StopPointId, plus disruptions for any child Naptan records it may have.",
                "description": "Gets all disruptions for the specified StopPointId, plus disruptions for any child Naptan records it may have.",
                "operationId": "StopPoint_DisruptionByPathIdsQueryGetFamilyQueryIncludeRouteBlockedStopsQuer",
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "description": "A comma-seperated list of stop point ids. Max. approx. 20 ids.\r\n            You can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "940GZZLUASL"
                    },
                    {
                        "name": "getFamily",
                        "in": "query",
                        "description": "Specify true to return disruptions for entire family, or false to return disruptions for just this stop point. Defaults to false.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "includeRouteBlockedStops",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "flattenResponse",
                        "in": "query",
                        "description": "Specify true to associate all disruptions with parent stop point. (Only applicable when getFamily is true).",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.DisruptedPoint"
                                    }
                                },
                                "example": [
                                    {
                                        "atcoCode": "string",
                                        "fromDate": "string",
                                        "toDate": "string",
                                        "description": "string",
                                        "commonName": "string",
                                        "type": "string",
                                        "mode": "string",
                                        "stationAtcoCode": "string",
                                        "appearance": "string",
                                        "additionalInformation": "string"
                                    }
                                ]
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.DisruptedPoint"
                                    }
                                },
                                "example": [
                                    {
                                        "atcoCode": "string",
                                        "fromDate": "string",
                                        "toDate": "string",
                                        "description": "string",
                                        "commonName": "string",
                                        "type": "string",
                                        "mode": "string",
                                        "stationAtcoCode": "string",
                                        "appearance": "string",
                                        "additionalInformation": "string"
                                    }
                                ]
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.DisruptedPoint"
                                    }
                                },
                                "example": "<ids-DisruptionGet200ApplicationXmlResponse> <atcoCode>string</atcoCode> <fromDate>string</fromDate> <toDate>string</toDate> <description>string</description> <commonName>string</commonName> <type>string</type> <mode>string</mode> <stationAtcoCode>string</stationAtcoCode> <appearance>string</appearance> <additionalInformation>string</additionalInformation> </ids-DisruptionGet200ApplicationXmlResponse>"
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.DisruptedPoint"
                                    }
                                },
                                "example": "<ids-DisruptionGet200TextXmlResponse> <atcoCode>string</atcoCode> <fromDate>string</fromDate> <toDate>string</toDate> <description>string</description> <commonName>string</commonName> <type>string</type> <mode>string</mode> <stationAtcoCode>string</stationAtcoCode> <appearance>string</appearance> <additionalInformation>string</additionalInformation> </ids-DisruptionGet200TextXmlResponse>"
                            }
                        }
                    }
                }
            }
        },
        "/{id}/DirectionTo/{toStopPointId}": {
            "get": {
                "tags": [
                    "StopPoint"
                ],
                "summary": "Returns the canonical direction, \"inbound\" or \"outbound\", for a given pair of stop point Ids in the direction from -&gt; to.",
                "description": "Returns the canonical direction, \"inbound\" or \"outbound\", for a given pair of stop point Ids in the direction from -&gt; to.",
                "operationId": "StopPoint_DirectionByPathIdPathToStopPointIdQueryLineId",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Originating stop id (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "940GZZLUASL"
                    },
                    {
                        "name": "toStopPointId",
                        "in": "path",
                        "description": "Destination stop id (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "940GZZLUHWY"
                    },
                    {
                        "name": "lineId",
                        "in": "query",
                        "description": "Optional line id filter e.g. victoria",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "string"
                            },
                            "text/json": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "string"
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "<id-DirectionTo-toStopPointId-Get200ApplicationXmlResponse>string</id-DirectionTo-toStopPointId-Get200ApplicationXmlResponse>"
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "<id-DirectionTo-toStopPointId-Get200TextXmlResponse>string</id-DirectionTo-toStopPointId-Get200TextXmlResponse>"
                            }
                        }
                    }
                }
            }
        },
        "/": {
            "get": {
                "tags": [
                    "StopPoint"
                ],
                "summary": "Gets a list of StopPoints within {radius} by the specified criteria",
                "description": "Gets a list of StopPoints within {radius} by the specified criteria",
                "operationId": "StopPoint_GetByGeoPointByQueryLatQueryLonQueryStopTypesQueryRadiusQueryUseSt",
                "parameters": [
                    {
                        "name": "lat",
                        "in": "query",
                        "description": "Format - double. the latitude of the centre of the bounding circle",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "double"
                        },
                        "example": 51.5
                    },
                    {
                        "name": "lon",
                        "in": "query",
                        "description": "Format - double. the longitude of the centre of the bounding circle",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "double"
                        },
                        "example": 0.12
                    },
                    {
                        "name": "stopTypes",
                        "in": "query",
                        "description": "a list of stopTypes that should be returned (a list of valid stop types can be obtained from the StopPoint/meta/stoptypes endpoint)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "NaptanCoachBay"
                    },
                    {
                        "name": "radius",
                        "in": "query",
                        "description": "Format - int32. the radius of the bounding circle in metres (default : 200)",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "useStopPointHierarchy",
                        "in": "query",
                        "description": "Re-arrange the output into a parent/child hierarchy",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "modes",
                        "in": "query",
                        "description": "the list of modes to search (comma separated mode names e.g. tube,dlr)",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "categories",
                        "in": "query",
                        "description": "an optional list of comma separated property categories to return in the StopPoint's property bag. If null or empty, all categories of property are returned. Pass the keyword \"none\" to return no properties (a valid list of categories can be obtained from the /StopPoint/Meta/categories endpoint)",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "returnLines",
                        "in": "query",
                        "description": "true to return the lines that each stop point serves as a nested resource",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Mode/{modes}": {
            "get": {
                "tags": [
                    "StopPoint"
                ],
                "summary": "Gets a list of StopPoints filtered by the modes available at that StopPoint.",
                "description": "Gets a list of StopPoints filtered by the modes available at that StopPoint.",
                "operationId": "StopPoint_GetByModeByPathModesQueryPage",
                "parameters": [
                    {
                        "name": "modes",
                        "in": "path",
                        "description": "A comma-seperated list of modes e.g. tube,dlr",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Tube"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - int32. The data set page to return. Page 1 equates to the first 1000 stop points, page 2 equates to 1001-2000 etc. Must be entered for bus mode as data set is too large.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPointsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Search/{query}": {
            "get": {
                "tags": [
                    "StopPoint"
                ],
                "summary": "Search StopPoints by their common name, or their 5-digit Countdown Bus Stop Code.",
                "description": "Search StopPoints by their common name, or their 5-digit Countdown Bus Stop Code.",
                "operationId": "StopPoint_SearchByPathQueryQueryModesQueryFaresOnlyQueryMaxResultsQueryLines",
                "parameters": [
                    {
                        "name": "query",
                        "in": "path",
                        "description": "The query string, case-insensitive. Leading and trailing wildcards are applied automatically.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Waterloo"
                    },
                    {
                        "name": "modes",
                        "in": "query",
                        "description": "An optional, parameter separated list of the modes to filter by",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "faresOnly",
                        "in": "query",
                        "description": "True to only return stations in that have Fares data available for single fares to another station.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "maxResults",
                        "in": "query",
                        "description": "Format - int32. An optional result limit, defaulting to and with a maximum of 50. Since children of the stop point heirarchy are returned for matches,\r\n            it is possible that the flattened result set will contain more than 50 items.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "lines",
                        "in": "query",
                        "description": "An optional, parameter separated list of the lines to filter by",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "includeHubs",
                        "in": "query",
                        "description": "If true, returns results including HUBs.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "tflOperatedNationalRailStationsOnly",
                        "in": "query",
                        "description": "If the national-rail mode is included, this flag will filter the national rail stations so that only those operated by TfL are returned",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse"
                                },
                                "example": {
                                    "query": "string",
                                    "from": 0,
                                    "page": 0,
                                    "pageSize": 0,
                                    "provider": "string",
                                    "total": 0,
                                    "matches": [
                                        {
                                            "id": "string",
                                            "url": "string",
                                            "name": "string",
                                            "lat": 0,
                                            "lon": 0
                                        }
                                    ],
                                    "maxScore": 0
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse"
                                },
                                "example": {
                                    "query": "string",
                                    "from": 0,
                                    "page": 0,
                                    "pageSize": 0,
                                    "provider": "string",
                                    "total": 0,
                                    "matches": [
                                        {
                                            "id": "string",
                                            "url": "string",
                                            "name": "string",
                                            "lat": 0,
                                            "lon": 0
                                        }
                                    ],
                                    "maxScore": 0
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse"
                                },
                                "example": "<Tfl.Api.Presentation.Entities.SearchResponse> <query>string</query> <from>0</from> <page>0</page> <pageSize>0</pageSize> <provider>string</provider> <total>0</total> <matches> <id>string</id> <url>string</url> <name>string</name> <lat>0</lat> <lon>0</lon> </matches> <maxScore>0</maxScore> </Tfl.Api.Presentation.Entities.SearchResponse>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse"
                                },
                                "example": "<Tfl.Api.Presentation.Entities.SearchResponse> <query>string</query> <from>0</from> <page>0</page> <pageSize>0</pageSize> <provider>string</provider> <total>0</total> <matches> <id>string</id> <url>string</url> <name>string</name> <lat>0</lat> <lon>0</lon> </matches> <maxScore>0</maxScore> </Tfl.Api.Presentation.Entities.SearchResponse>"
                            }
                        }
                    }
                }
            }
        },
        "/Search": {
            "get": {
                "tags": [
                    "StopPoint"
                ],
                "summary": "Search StopPoints by their common name, or their 5-digit Countdown Bus Stop Code.",
                "description": "Search StopPoints by their common name, or their 5-digit Countdown Bus Stop Code.",
                "operationId": "StopPoint_SearchByQueryQueryQueryModesQueryFaresOnlyQueryMaxResultsQueryLine",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "description": "The query string, case-insensitive. Leading and trailing wildcards are applied automatically.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Waterloo"
                    },
                    {
                        "name": "modes",
                        "in": "query",
                        "description": "An optional, parameter separated list of the modes to filter by",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "faresOnly",
                        "in": "query",
                        "description": "True to only return stations in that have Fares data available for single fares to another station.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "maxResults",
                        "in": "query",
                        "description": "Format - int32. An optional result limit, defaulting to and with a maximum of 50. Since children of the stop point heirarchy are returned for matches,\r\n            it is possible that the flattened result set will contain more than 50 items.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "lines",
                        "in": "query",
                        "description": "An optional, parameter separated list of the lines to filter by",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "includeHubs",
                        "in": "query",
                        "description": "If true, returns results including HUBs.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "tflOperatedNationalRailStationsOnly",
                        "in": "query",
                        "description": "If the national-rail mode is included, this flag will filter the national rail stations so that only those operated by TfL are returned",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse"
                                },
                                "example": {
                                    "query": "string",
                                    "from": 0,
                                    "page": 0,
                                    "pageSize": 0,
                                    "provider": "string",
                                    "total": 0,
                                    "matches": [
                                        {
                                            "id": "string",
                                            "url": "string",
                                            "name": "string",
                                            "lat": 0,
                                            "lon": 0
                                        }
                                    ],
                                    "maxScore": 0
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse"
                                },
                                "example": {
                                    "query": "string",
                                    "from": 0,
                                    "page": 0,
                                    "pageSize": 0,
                                    "provider": "string",
                                    "total": 0,
                                    "matches": [
                                        {
                                            "id": "string",
                                            "url": "string",
                                            "name": "string",
                                            "lat": 0,
                                            "lon": 0
                                        }
                                    ],
                                    "maxScore": 0
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse"
                                },
                                "example": "<Tfl.Api.Presentation.Entities.SearchResponse> <query>string</query> <from>0</from> <page>0</page> <pageSize>0</pageSize> <provider>string</provider> <total>0</total> <matches> <id>string</id> <url>string</url> <name>string</name> <lat>0</lat> <lon>0</lon> </matches> <maxScore>0</maxScore> </Tfl.Api.Presentation.Entities.SearchResponse>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.SearchResponse"
                                },
                                "example": "<Tfl.Api.Presentation.Entities.SearchResponse> <query>string</query> <from>0</from> <page>0</page> <pageSize>0</pageSize> <provider>string</provider> <total>0</total> <matches> <id>string</id> <url>string</url> <name>string</name> <lat>0</lat> <lon>0</lon> </matches> <maxScore>0</maxScore> </Tfl.Api.Presentation.Entities.SearchResponse>"
                            }
                        }
                    }
                }
            }
        },
        "/Sms/{id}": {
            "get": {
                "tags": [
                    "StopPoint"
                ],
                "summary": "Gets a StopPoint for a given sms code.",
                "description": "Gets a StopPoint for a given sms code.",
                "operationId": "StopPoint_GetBySmsByPathIdQueryOutput",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "A 5-digit Countdown Bus Stop Code e.g. 73241, 50435, 56334.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 73241
                    },
                    {
                        "name": "output",
                        "in": "query",
                        "description": "If set to \"web\", a 302 redirect to relevant website bus stop page is returned. Valid values are : web. All other values are ignored.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/System.Object"
                                }
                            },
                            "text/json": {
                                "schema": {
[...]
