{
    "openapi": "3.0.1",
    "info": {
        "title": "Unified API",
        "description": "This API document is a legacy from our last portal. All the other APIs are bundled here as a single ungrouped OpenAPI document. You are advised to use the other APIs for documentation.",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.tfl.gov.uk"
        }
    ],
    "paths": {
        "/AccidentStats/{year}": {
            "get": {
                "tags": [
                    "AccidentStats"
                ],
                "summary": "Gets all accident details for accidents occuring in the specified year",
                "description": "Gets all accident details for accidents occuring in the specified year",
                "operationId": "AccidentStats_Get",
                "parameters": [
                    {
                        "name": "year",
                        "in": "path",
                        "description": "Format - int32. The year for which to filter the accidents on.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-AccidentStats-AccidentDetailArray"
                                },
                                "example": [
                                    {
                                        "id": 0,
                                        "lat": 0,
                                        "lon": 0,
                                        "location": "string",
                                        "date": "string",
                                        "severity": "string",
                                        "borough": "string",
                                        "casualties": [
                                            {
                                                "age": 0,
                                                "class": "string",
                                                "severity": "string",
                                                "mode": "string",
                                                "ageBand": "string"
                                            }
                                        ],
                                        "vehicles": [
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    }
                                ]
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-AccidentStats-AccidentDetailArray-1"
                                },
                                "example": [
                                    {
                                        "id": 0,
                                        "lat": 0,
                                        "lon": 0,
                                        "location": "string",
                                        "date": "string",
                                        "severity": "string",
                                        "borough": "string",
                                        "casualties": [
                                            {
                                                "age": 0,
                                                "class": "string",
                                                "severity": "string",
                                                "mode": "string",
                                                "ageBand": "string"
                                            }
                                        ],
                                        "vehicles": [
                                            {
                                                "type": "string"
                                            }
                                        ]
                                    }
                                ]
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-AccidentStats-AccidentDetailArray-2"
                                },
                                "example": "<Tfl-Api-Presentation-Entities-AccidentStats-AccidentDetailArray-2> <id>0</id> <lat>0</lat> <lon>0</lon> <location>string</location> <date>string</date> <severity>string</severity> <borough>string</borough> <casualties> <age>0</age> <class>string</class> <severity>string</severity> <mode>string</mode> <ageBand>string</ageBand> </casualties> <vehicles> <type>string</type> </vehicles> </Tfl-Api-Presentation-Entities-AccidentStats-AccidentDetailArray-2>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-AccidentStats-AccidentDetailArray-3"
                                },
                                "example": "<Tfl-Api-Presentation-Entities-AccidentStats-AccidentDetailArray-3> <id>0</id> <lat>0</lat> <lon>0</lon> <location>string</location> <date>string</date> <severity>string</severity> <borough>string</borough> <casualties> <age>0</age> <class>string</class> <severity>string</severity> <mode>string</mode> <ageBand>string</ageBand> </casualties> <vehicles> <type>string</type> </vehicles> </Tfl-Api-Presentation-Entities-AccidentStats-AccidentDetailArray-3>"
                            }
                        }
                    }
                }
            }
        },
        "/AirQuality": {
            "get": {
                "tags": [
                    "AirQuality"
                ],
                "summary": "Gets air quality data feed",
                "description": "Gets air quality data feed",
                "operationId": "AirQuality_Get",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/System.Object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/System.Object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/System.Object"
                                },
                                "example": "<System.Object />"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/System.Object"
                                },
                                "example": "<System.Object />"
                            }
                        }
                    }
                }
            }
        },
        "/BikePoint": {
            "get": {
                "tags": [
                    "BikePoint"
                ],
                "summary": "Gets all bike point locations. The Place object has an addtionalProperties array which contains the nbBikes, nbDocks and nbSpaces\r\n            numbers which give the status of the BikePoint. A mismatch in these numbers i.e. nbDocks - (nbBikes + nbSpaces) != 0 indicates broken docks.",
                "description": "Gets all bike point locations. The Place object has an addtionalProperties array which contains the nbBikes, nbDocks and nbSpaces\r\n            numbers which give the status of the BikePoint. A mismatch in these numbers i.e. nbDocks - (nbBikes + nbSpaces) != 0 indicates broken docks.",
                "operationId": "BikePoint_GetAll",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-PlaceArray"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-PlaceArray-1"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-PlaceArray-2"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-PlaceArray-3"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/BikePoint/{id}": {
            "get": {
                "tags": [
                    "BikePoint"
                ],
                "summary": "Gets the bike point with the given id.",
                "description": "Gets the bike point with the given id.",
                "operationId": "BikePoint_Get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "A bike point id (a list of ids can be obtained from the above BikePoint call)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/BikePoint/Search": {
            "get": {
                "tags": [
                    "BikePoint"
                ],
                "summary": "Search for bike stations by their name, a bike point's name often contains information about the name of the street\r\n            or nearby landmarks, for example. Note that the search result does not contain the PlaceProperties i.e. the status\r\n            or occupancy of the BikePoint, to get that ",
                "description": "Search for bike stations by their name, a bike point's name often contains information about the name of the street\r\n            or nearby landmarks, for example. Note that the search result does not contain the PlaceProperties i.e. the status\r\n            or occupancy of the BikePoint, to get that information you should retrieve the BikePoint by its id on /BikePoint/id.",
                "operationId": "BikePoint_Search",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "description": "The search term e.g. \"St. James\"",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-PlaceArray-4"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-PlaceArray-5"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-PlaceArray-6"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-PlaceArray-7"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Cabwise/search": {
            "get": {
                "tags": [
                    "Cabwise"
                ],
                "summary": "Gets taxis and minicabs contact information",
                "description": "Gets taxis and minicabs contact information",
                "operationId": "Cabwise_Get",
                "parameters": [
                    {
                        "name": "lat",
                        "in": "query",
                        "description": "Format - double. Latitude",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "lon",
                        "in": "query",
                        "description": "Format - double. Longitude",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "optype",
                        "in": "query",
                        "description": "Operator Type e.g Minicab, Executive, Limousine",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "wc",
                        "in": "query",
                        "description": "Wheelchair accessible",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "radius",
                        "in": "query",
                        "description": "Format - double. The radius of the bounding circle in metres",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Trading name of operating company",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "maxResults",
                        "in": "query",
                        "description": "Format - int32. An optional parameter to limit the number of results return. Default and maximum is 20.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "legacyFormat",
                        "in": "query",
                        "description": "Legacy Format",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "forceXml",
                        "in": "query",
                        "description": "Force Xml",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "twentyFourSevenOnly",
                        "in": "query",
                        "description": "Twenty Four Seven Only",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/System.Object"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/System.Object"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/System.Object"
                                },
                                "example": "<System.Object />"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/System.Object"
                                },
                                "example": "<System.Object />"
                            }
                        }
                    }
                }
            }
        },
        "/Journey/Meta/Modes": {
            "get": {
                "tags": [
                    "Journey"
                ],
                "summary": "Gets a list of all of the available journey planner modes",
                "description": "Gets a list of all of the available journey planner modes",
                "operationId": "Journey_Meta",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-ModeArray"
                                },
                                "example": [
                                    {
                                        "isTflService": true,
                                        "isFarePaying": true,
                                        "isScheduledService": true,
                                        "modeName": "string"
                                    }
                                ]
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-ModeArray-1"
                                },
                                "example": [
                                    {
                                        "isTflService": true,
                                        "isFarePaying": true,
                                        "isScheduledService": true,
                                        "modeName": "string"
                                    }
                                ]
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-ModeArray-2"
                                },
                                "example": "<Tfl-Api-Presentation-Entities-ModeArray-2> <isTflService>true</isTflService> <isFarePaying>true</isFarePaying> <isScheduledService>true</isScheduledService> <modeName>string</modeName> </Tfl-Api-Presentation-Entities-ModeArray-2>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-ModeArray-3"
                                },
                                "example": "<Tfl-Api-Presentation-Entities-ModeArray-3> <isTflService>true</isTflService> <isFarePaying>true</isFarePaying> <isScheduledService>true</isScheduledService> <modeName>string</modeName> </Tfl-Api-Presentation-Entities-ModeArray-3>"
                            }
                        }
                    }
                }
            }
        },
        "/Journey/JourneyResults/{from}/to/{to}": {
            "get": {
                "tags": [
                    "Journey"
                ],
                "summary": "Perform a Journey Planner search from the parameters specified in simple types",
                "description": "Perform a Journey Planner search from the parameters specified in simple types",
                "operationId": "Journey_JourneyResults",
                "parameters": [
                    {
                        "name": "from",
                        "in": "path",
                        "description": "Origin of the journey. Can be WGS84 coordinates expressed as \"lat,long\", a UK postcode, a Naptan (StopPoint) id, an ICS StopId, or a free-text string (will cause disambiguation unless it exactly matches a point of interest name).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "to",
                        "in": "path",
                        "description": "Destination of the journey. Can be WGS84 coordinates expressed as \"lat,long\", a UK postcode, a Naptan (StopPoint) id, an ICS StopId, or a free-text string (will cause disambiguation unless it exactly matches a point of interest name).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "via",
                        "in": "query",
                        "description": "Travel through point on the journey. Can be WGS84 coordinates expressed as \"lat,long\", a UK postcode, a Naptan (StopPoint) id, an ICS StopId, or a free-text string (will cause disambiguation unless it exactly matches a point of interest name).",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "nationalSearch",
                        "in": "query",
                        "description": "Does the journey cover stops outside London? eg. \"nationalSearch=true\"",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "The date must be in yyyyMMdd format",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "time",
                        "in": "query",
                        "description": "The time must be in HHmm format",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "timeIs",
                        "in": "query",
                        "description": "Does the time given relate to arrival or leaving time? Possible options: \"departing\" | \"arriving\"",
                        "schema": {
                            "enum": [
                                "Arriving",
                                "Departing"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "journeyPreference",
                        "in": "query",
                        "description": "The journey preference eg possible options: \"leastinterchange\" | \"leasttime\" | \"leastwalking\"",
                        "schema": {
                            "enum": [
                                "LeastInterchange",
                                "LeastTime",
                                "LeastWalking"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "mode",
                        "in": "query",
                        "description": "The mode must be a comma separated list of modes. eg possible options: \"public-bus,overground,train,tube,coach,dlr,cablecar,tram,river,walking,cycle\"",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "accessibilityPreference",
                        "in": "query",
                        "description": "The accessibility preference must be a comma separated list eg. \"noSolidStairs,noEscalators,noElevators,stepFreeToVehicle,stepFreeToPlatform\"",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "fromName",
                        "in": "query",
                        "description": "An optional name to associate with the origin of the journey in the results.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "toName",
                        "in": "query",
                        "description": "An optional name to associate with the destination of the journey in the results.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "viaName",
                        "in": "query",
                        "description": "An optional name to associate with the via point of the journey in the results.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "maxTransferMinutes",
                        "in": "query",
                        "description": "The max walking time in minutes for transfer eg. \"120\"",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "maxWalkingMinutes",
                        "in": "query",
                        "description": "The max walking time in minutes for journeys eg. \"120\"",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "walkingSpeed",
                        "in": "query",
                        "description": "The walking speed. eg possible options: \"slow\" | \"average\" | \"fast\".",
                        "schema": {
                            "enum": [
                                "Slow",
                                "Average",
                                "Fast"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "cyclePreference",
                        "in": "query",
                        "description": "The cycle preference. eg possible options: \"allTheWay\" | \"leaveAtStation\" | \"takeOnTransport\" | \"cycleHire\"",
                        "schema": {
                            "enum": [
                                "None",
                                "LeaveAtStation",
                                "TakeOnTransport",
                                "AllTheWay",
                                "CycleHire"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "adjustment",
                        "in": "query",
                        "description": "Time adjustment command. eg possible options: \"TripFirst\" | \"TripLast\"",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "bikeProficiency",
                        "in": "query",
                        "description": "A comma separated list of cycling proficiency levels. eg possible options: \"easy,moderate,fast\"",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "alternativeCycle",
                        "in": "query",
                        "description": "Option to determine whether to return alternative cycling journey",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "alternativeWalking",
                        "in": "query",
                        "description": "Option to determine whether to return alternative walking journey",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "applyHtmlMarkup",
                        "in": "query",
                        "description": "Flag to determine whether certain text (e.g. walking instructions) should be output with HTML tags or not.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "useMultiModalCall",
                        "in": "query",
                        "description": "A boolean to indicate whether or not to return 3 public transport journeys, a bus journey, a cycle hire journey, a personal cycle journey and a walking journey",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "walkingOptimization",
                        "in": "query",
                        "description": "A boolean to indicate whether to optimize journeys using walking",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "taxiOnlyTrip",
                        "in": "query",
                        "description": "A boolean to indicate whether to return one or more taxi journeys. Note, setting this to true will override \"useMultiModalCall\".",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Line/Meta/Modes": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Gets a list of valid modes",
                "description": "Gets a list of valid modes",
                "operationId": "Line_MetaModes",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-ModeArray-4"
                                },
                                "example": [
                                    {
                                        "isTflService": true,
                                        "isFarePaying": true,
                                        "isScheduledService": true,
                                        "modeName": "string"
                                    }
                                ]
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-ModeArray-5"
                                },
                                "example": [
                                    {
                                        "isTflService": true,
                                        "isFarePaying": true,
                                        "isScheduledService": true,
                                        "modeName": "string"
                                    }
                                ]
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-ModeArray-6"
                                },
                                "example": "<Tfl-Api-Presentation-Entities-ModeArray-6> <isTflService>true</isTflService> <isFarePaying>true</isFarePaying> <isScheduledService>true</isScheduledService> <modeName>string</modeName> </Tfl-Api-Presentation-Entities-ModeArray-6>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-ModeArray-7"
                                },
                                "example": "<Tfl-Api-Presentation-Entities-ModeArray-7> <isTflService>true</isTflService> <isFarePaying>true</isFarePaying> <isScheduledService>true</isScheduledService> <modeName>string</modeName> </Tfl-Api-Presentation-Entities-ModeArray-7>"
                            }
                        }
                    }
                }
            }
        },
        "/Line/Meta/Severity": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Gets a list of valid severity codes",
                "description": "Gets a list of valid severity codes",
                "operationId": "Line_MetaSeverity",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-StatusSeverityArray"
                                },
                                "example": [
                                    {
                                        "modeName": "string",
                                        "severityLevel": 0,
                                        "description": "string"
                                    }
                                ]
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-StatusSeverityArray-1"
                                },
                                "example": [
                                    {
                                        "modeName": "string",
                                        "severityLevel": 0,
                                        "description": "string"
                                    }
                                ]
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-StatusSeverityArray-2"
                                },
                                "example": "<Tfl-Api-Presentation-Entities-StatusSeverityArray-2> <modeName>string</modeName> <severityLevel>0</severityLevel> <description>string</description> </Tfl-Api-Presentation-Entities-StatusSeverityArray-2>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-StatusSeverityArray-3"
                                },
                                "example": "<Tfl-Api-Presentation-Entities-StatusSeverityArray-3> <modeName>string</modeName> <severityLevel>0</severityLevel> <description>string</description> </Tfl-Api-Presentation-Entities-StatusSeverityArray-3>"
                            }
                        }
                    }
                }
            }
        },
        "/Line/Meta/DisruptionCategories": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Gets a list of valid disruption categories",
                "description": "Gets a list of valid disruption categories",
                "operationId": "Line_MetaDisruptionCategories",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LineMetaDisruptionCategoriesGet200ApplicationJsonResponse"
                                },
                                "example": [
                                    "string"
                                ]
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LineMetaDisruptionCategoriesGet200TextJsonResponse"
                                },
                                "example": [
                                    "string"
                                ]
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/LineMetaDisruptionCategoriesGet200ApplicationXmlResponse"
                                },
                                "example": "<LineMetaDisruptionCategoriesGet200ApplicationXmlResponse>string</LineMetaDisruptionCategoriesGet200ApplicationXmlResponse>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/LineMetaDisruptionCategoriesGet200TextXmlResponse"
                                },
                                "example": "<LineMetaDisruptionCategoriesGet200TextXmlResponse>string</LineMetaDisruptionCategoriesGet200TextXmlResponse>"
                            }
                        }
                    }
                }
            }
        },
        "/Line/Meta/ServiceTypes": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Gets a list of valid ServiceTypes to filter on",
                "description": "Gets a list of valid ServiceTypes to filter on",
                "operationId": "Line_MetaServiceTypes",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LineMetaServiceTypesGet200ApplicationJsonResponse"
                                },
                                "example": [
                                    "string"
                                ]
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LineMetaServiceTypesGet200TextJsonResponse"
                                },
                                "example": [
                                    "string"
                                ]
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/LineMetaServiceTypesGet200ApplicationXmlResponse"
                                },
                                "example": "<LineMetaServiceTypesGet200ApplicationXmlResponse>string</LineMetaServiceTypesGet200ApplicationXmlResponse>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/LineMetaServiceTypesGet200TextXmlResponse"
                                },
                                "example": "<LineMetaServiceTypesGet200TextXmlResponse>string</LineMetaServiceTypesGet200TextXmlResponse>"
                            }
                        }
                    }
                }
            }
        },
        "/Line/{ids}": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Gets lines that match the specified line ids.",
                "description": "Gets lines that match the specified line ids.",
                "operationId": "Line_Get",
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "description": "A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.",
                        "required": true,
                        "schema": {
                            "type": "array"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-1"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-2"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-3"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Line/Mode/{modes}": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Gets lines that serve the given modes.",
                "description": "Gets lines that serve the given modes.",
                "operationId": "Line_GetByMode",
                "parameters": [
                    {
                        "name": "modes",
                        "in": "path",
                        "description": "A comma-separated list of modes e.g. tube,dlr",
                        "required": true,
                        "schema": {
                            "type": "array"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-4"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-5"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-6"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-7"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Line/Route": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Get all valid routes for all lines, including the name and id of the originating and terminating stops for each route.",
                "description": "Get all valid routes for all lines, including the name and id of the originating and terminating stops for each route.",
                "operationId": "Line_Route",
                "parameters": [
                    {
                        "name": "serviceTypes",
                        "in": "query",
                        "description": "A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified",
                        "schema": {
                            "type": "array"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-8"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-9"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-10"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-11"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Line/{ids}/Route": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Get all valid routes for given line ids, including the name and id of the originating and terminating stops for each route.",
                "description": "Get all valid routes for given line ids, including the name and id of the originating and terminating stops for each route.",
                "operationId": "Line_LineRoutesByIds",
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "description": "A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.",
                        "required": true,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "serviceTypes",
                        "in": "query",
                        "description": "A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified",
                        "schema": {
                            "type": "array"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-12"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-13"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-14"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-15"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Line/Mode/{modes}/Route": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Gets all lines and their valid routes for given modes, including the name and id of the originating and terminating stops for each route",
                "description": "Gets all lines and their valid routes for given modes, including the name and id of the originating and terminating stops for each route",
                "operationId": "Line_RouteByMode",
                "parameters": [
                    {
                        "name": "modes",
                        "in": "path",
                        "description": "A comma-separated list of modes e.g. tube,dlr",
                        "required": true,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "serviceTypes",
                        "in": "query",
                        "description": "A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified",
                        "schema": {
                            "type": "array"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-16"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-17"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-18"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-19"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Line/{id}/Route/Sequence/{direction}": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Gets all valid routes for given line id, including the sequence of stops on each route.",
                "description": "Gets all valid routes for given line id, including the sequence of stops on each route.",
                "operationId": "Line_RouteSequence",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "A single line id e.g. victoria",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "direction",
                        "in": "path",
                        "description": "The direction of travel. Can be inbound or outbound.",
                        "required": true,
                        "schema": {
                            "enum": [
                                "inbound",
                                "outbound",
                                "all"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "serviceTypes",
                        "in": "query",
                        "description": "A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "excludeCrowding",
                        "in": "query",
                        "description": "That excludes crowding from line disruptions. Can be true or false.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.RouteSequence"
                                },
                                "example": {
                                    "lineId": "string",
                                    "lineName": "string",
                                    "direction": "string",
                                    "isOutboundOnly": true,
                                    "mode": "string",
                                    "lineStrings": [
                                        "string"
                                    ],
                                    "stations": [
                                        {
                                            "routeId": 0,
                                            "parentId": "string",
                                            "stationId": "string",
                                            "icsId": "string",
                                            "topMostParentId": "string",
                                            "direction": "string",
                                            "towards": "string",
                                            "modes": [
                                                "string"
                                            ],
                                            "stopType": "string",
                                            "stopLetter": "string",
                                            "zone": "string",
                                            "accessibilitySummary": "string",
                                            "hasDisruption": true,
                                            "lines": [
                                                {
                                                    "id": "string",
                                                    "name": "string",
                                                    "uri": "string",
                                                    "fullName": "string",
                                                    "type": "string",
                                                    "crowding": {
                                                        "passengerFlows": [
                                                            {
                                                                "timeSlice": "string",
                                                                "value": 0
                                                            }
                                                        ],
                                                        "trainLoadings": [
                                                            {
                                                                "line": "string",
                                                                "lineDirection": "string",
                                                                "platformDirection": "string",
                                                                "direction": "string",
                                                                "naptanTo": "string",
                                                                "timeSlice": "string",
                                                                "value": 0
                                                            }
                                                        ]
                                                    },
                                                    "routeType": "Unknown",
                                                    "status": "Unknown"
                                                }
                                            ],
                                            "status": true,
                                            "id": "string",
                                            "url": "string",
                                            "name": "string",
                                            "lat": 0,
                                            "lon": 0
                                        }
                                    ],
                                    "stopPointSequences": [
                                        {
                                            "lineId": "string",
                                            "lineName": "string",
                                            "direction": "string",
                                            "branchId": 0,
                                            "nextBranchIds": [
                                                0
                                            ],
                                            "prevBranchIds": [
                                                0
                                            ],
                                            "stopPoint": [
                                                {
                                                    "routeId": 0,
                                                    "parentId": "string",
                                                    "stationId": "string",
                                                    "icsId": "string",
                                                    "topMostParentId": "string",
                                                    "direction": "string",
                                                    "towards": "string",
                                                    "modes": [
                                                        "string"
                                                    ],
                                                    "stopType": "string",
                                                    "stopLetter": "string",
                                                    "zone": "string",
                                                    "accessibilitySummary": "string",
                                                    "hasDisruption": true,
                                                    "lines": [
                                                        {
                                                            "id": "string",
                                                            "name": "string",
                                                            "uri": "string",
                                                            "fullName": "string",
                                                            "type": "string",
                                                            "crowding": {
                                                                "passengerFlows": [
                                                                    {
                                                                        "timeSlice": "string",
                                                                        "value": 0
                                                                    }
                                                                ],
                                                                "trainLoadings": [
                                                                    {
                                                                        "line": "string",
                                                                        "lineDirection": "string",
                                                                        "platformDirection": "string",
                                                                        "direction": "string",
                                                                        "naptanTo": "string",
                                                                        "timeSlice": "string",
                                                                        "value": 0
                                                                    }
                                                                ]
                                                            },
                                                            "routeType": "Unknown",
                                                            "status": "Unknown"
                                                        }
                                                    ],
                                                    "status": true,
                                                    "id": "string",
                                                    "url": "string",
                                                    "name": "string",
                                                    "lat": 0,
                                                    "lon": 0
                                                }
                                            ],
                                            "serviceType": "Regular"
                                        }
                                    ],
                                    "orderedLineRoutes": [
                                        {
                                            "name": "string",
                                            "naptanIds": [
                                                "string"
                                            ],
                                            "serviceType": "string"
                                        }
                                    ]
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.RouteSequence"
                                },
                                "example": {
                                    "lineId": "string",
                                    "lineName": "string",
                                    "direction": "string",
                                    "isOutboundOnly": true,
                                    "mode": "string",
                                    "lineStrings": [
                                        "string"
                                    ],
                                    "stations": [
                                        {
                                            "routeId": 0,
                                            "parentId": "string",
                                            "stationId": "string",
                                            "icsId": "string",
                                            "topMostParentId": "string",
                                            "direction": "string",
                                            "towards": "string",
                                            "modes": [
                                                "string"
                                            ],
                                            "stopType": "string",
                                            "stopLetter": "string",
                                            "zone": "string",
                                            "accessibilitySummary": "string",
                                            "hasDisruption": true,
                                            "lines": [
                                                {
                                                    "id": "string",
                                                    "name": "string",
                                                    "uri": "string",
                                                    "fullName": "string",
                                                    "type": "string",
                                                    "crowding": {
                                                        "passengerFlows": [
                                                            {
                                                                "timeSlice": "string",
                                                                "value": 0
                                                            }
                                                        ],
                                                        "trainLoadings": [
                                                            {
                                                                "line": "string",
                                                                "lineDirection": "string",
                                                                "platformDirection": "string",
                                                                "direction": "string",
                                                                "naptanTo": "string",
                                                                "timeSlice": "string",
                                                                "value": 0
                                                            }
                                                        ]
                                                    },
                                                    "routeType": "Unknown",
                                                    "status": "Unknown"
                                                }
                                            ],
                                            "status": true,
                                            "id": "string",
                                            "url": "string",
                                            "name": "string",
                                            "lat": 0,
                                            "lon": 0
                                        }
                                    ],
                                    "stopPointSequences": [
                                        {
                                            "lineId": "string",
                                            "lineName": "string",
                                            "direction": "string",
                                            "branchId": 0,
                                            "nextBranchIds": [
                                                0
                                            ],
                                            "prevBranchIds": [
                                                0
                                            ],
                                            "stopPoint": [
                                                {
                                                    "routeId": 0,
                                                    "parentId": "string",
                                                    "stationId": "string",
                                                    "icsId": "string",
                                                    "topMostParentId": "string",
                                                    "direction": "string",
                                                    "towards": "string",
                                                    "modes": [
                                                        "string"
                                                    ],
                                                    "stopType": "string",
                                                    "stopLetter": "string",
                                                    "zone": "string",
                                                    "accessibilitySummary": "string",
                                                    "hasDisruption": true,
                                                    "lines": [
                                                        {
                                                            "id": "string",
                                                            "name": "string",
                                                            "uri": "string",
                                                            "fullName": "string",
                                                            "type": "string",
                                                            "crowding": {
                                                                "passengerFlows": [
                                                                    {
                                                                        "timeSlice": "string",
                                                                        "value": 0
                                                                    }
                                                                ],
                                                                "trainLoadings": [
                                                                    {
                                                                        "line": "string",
                                                                        "lineDirection": "string",
                                                                        "platformDirection": "string",
                                                                        "direction": "string",
                                                                        "naptanTo": "string",
                                                                        "timeSlice": "string",
                                                                        "value": 0
                                                                    }
                                                                ]
                                                            },
                                                            "routeType": "Unknown",
                                                            "status": "Unknown"
                                                        }
                                                    ],
                                                    "status": true,
                                                    "id": "string",
                                                    "url": "string",
                                                    "name": "string",
                                                    "lat": 0,
                                                    "lon": 0
                                                }
                                            ],
                                            "serviceType": "Regular"
                                        }
                                    ],
                                    "orderedLineRoutes": [
                                        {
                                            "name": "string",
                                            "naptanIds": [
                                                "string"
                                            ],
                                            "serviceType": "string"
                                        }
                                    ]
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.RouteSequence"
                                },
                                "example": "<Tfl.Api.Presentation.Entities.RouteSequence> <lineId>string</lineId> <lineName>string</lineName> <direction>string</direction> <isOutboundOnly>true</isOutboundOnly> <mode>string</mode> <lineStrings>string</lineStrings> <stations> <routeId>0</routeId> <parentId>string</parentId> <stationId>string</stationId> <icsId>string</icsId> <topMostParentId>string</topMostParentId> <direction>string</direction> <towards>string</towards> <modes>string</modes> <stopType>string</stopType> <stopLetter>string</stopLetter> <zone>string</zone> <accessibilitySummary>string</accessibilitySummary> <hasDisruption>true</hasDisruption> <lines> <id>string</id> <name>string</name> <uri>string</uri> <fullName>string</fullName> <type>string</type> <crowding> <passengerFlows> <timeSlice>string</timeSlice> <value>0</value> </passengerFlows> <trainLoadings> <line>string</line> <lineDirection>string</lineDirection> <platformDirection>string</platformDirection> <direction>string</direction> <naptanTo>string</naptanTo> <timeSlice>string</timeSlice> <value>0</value> </trainLoadings> </crowding> <routeType>Unknown</routeType> <status>Unknown</status> </lines> <status>true</status> <id>string</id> <url>string</url> <name>string</name> <lat>0</lat> <lon>0</lon> </stations> <stopPointSequences> <lineId>string</lineId> <lineName>string</lineName> <direction>string</direction> <branchId>0</branchId> <nextBranchIds>0</nextBranchIds> <prevBranchIds>0</prevBranchIds> <stopPoint> <routeId>0</routeId> <parentId>string</parentId> <stationId>string</stationId> <icsId>string</icsId> <topMostParentId>string</topMostParentId> <direction>string</direction> <towards>string</towards> <modes>string</modes> <stopType>string</stopType> <stopLetter>string</stopLetter> <zone>string</zone> <accessibilitySummary>string</accessibilitySummary> <hasDisruption>true</hasDisruption> <lines> <id>string</id> <name>string</name> <uri>string</uri> <fullName>string</fullName> <type>string</type> <crowding> <passengerFlows> <timeSlice>string</timeSlice> <value>0</value> </passengerFlows> <trainLoadings> <line>string</line> <lineDirection>string</lineDirection> <platformDirection>string</platformDirection> <direction>string</direction> <naptanTo>string</naptanTo> <timeSlice>string</timeSlice> <value>0</value> </trainLoadings> </crowding> <routeType>Unknown</routeType> <status>Unknown</status> </lines> <status>true</status> <id>string</id> <url>string</url> <name>string</name> <lat>0</lat> <lon>0</lon> </stopPoint> <serviceType>Regular</serviceType> </stopPointSequences> <orderedLineRoutes> <name>string</name> <naptanIds>string</naptanIds> <serviceType>string</serviceType> </orderedLineRoutes> </Tfl.Api.Presentation.Entities.RouteSequence>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.RouteSequence"
                                },
                                "example": "<Tfl.Api.Presentation.Entities.RouteSequence> <lineId>string</lineId> <lineName>string</lineName> <direction>string</direction> <isOutboundOnly>true</isOutboundOnly> <mode>string</mode> <lineStrings>string</lineStrings> <stations> <routeId>0</routeId> <parentId>string</parentId> <stationId>string</stationId> <icsId>string</icsId> <topMostParentId>string</topMostParentId> <direction>string</direction> <towards>string</towards> <modes>string</modes> <stopType>string</stopType> <stopLetter>string</stopLetter> <zone>string</zone> <accessibilitySummary>string</accessibilitySummary> <hasDisruption>true</hasDisruption> <lines> <id>string</id> <name>string</name> <uri>string</uri> <fullName>string</fullName> <type>string</type> <crowding> <passengerFlows> <timeSlice>string</timeSlice> <value>0</value> </passengerFlows> <trainLoadings> <line>string</line> <lineDirection>string</lineDirection> <platformDirection>string</platformDirection> <direction>string</direction> <naptanTo>string</naptanTo> <timeSlice>string</timeSlice> <value>0</value> </trainLoadings> </crowding> <routeType>Unknown</routeType> <status>Unknown</status> </lines> <status>true</status> <id>string</id> <url>string</url> <name>string</name> <lat>0</lat> <lon>0</lon> </stations> <stopPointSequences> <lineId>string</lineId> <lineName>string</lineName> <direction>string</direction> <branchId>0</branchId> <nextBranchIds>0</nextBranchIds> <prevBranchIds>0</prevBranchIds> <stopPoint> <routeId>0</routeId> <parentId>string</parentId> <stationId>string</stationId> <icsId>string</icsId> <topMostParentId>string</topMostParentId> <direction>string</direction> <towards>string</towards> <modes>string</modes> <stopType>string</stopType> <stopLetter>string</stopLetter> <zone>string</zone> <accessibilitySummary>string</accessibilitySummary> <hasDisruption>true</hasDisruption> <lines> <id>string</id> <name>string</name> <uri>string</uri> <fullName>string</fullName> <type>string</type> <crowding> <passengerFlows> <timeSlice>string</timeSlice> <value>0</value> </passengerFlows> <trainLoadings> <line>string</line> <lineDirection>string</lineDirection> <platformDirection>string</platformDirection> <direction>string</direction> <naptanTo>string</naptanTo> <timeSlice>string</timeSlice> <value>0</value> </trainLoadings> </crowding> <routeType>Unknown</routeType> <status>Unknown</status> </lines> <status>true</status> <id>string</id> <url>string</url> <name>string</name> <lat>0</lat> <lon>0</lon> </stopPoint> <serviceType>Regular</serviceType> </stopPointSequences> <orderedLineRoutes> <name>string</name> <naptanIds>string</naptanIds> <serviceType>string</serviceType> </orderedLineRoutes> </Tfl.Api.Presentation.Entities.RouteSequence>"
                            }
                        }
                    }
                }
            }
        },
        "/Line/{ids}/Status/{StartDate}/to/{EndDate}": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Gets the line status for given line ids during the provided dates e.g Minor Delays",
                "description": "Gets the line status for given line ids during the provided dates e.g Minor Delays",
                "operationId": "Line_Status",
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "description": "A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.",
                        "required": true,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "StartDate",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "EndDate",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "detail",
                        "in": "query",
                        "description": "Include details of the disruptions that are causing the line status including the affected stops and routes",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-20"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-21"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-22"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-23"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Line/{ids}/Status": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Gets the line status of for given line ids e.g Minor Delays",
                "description": "Gets the line status of for given line ids e.g Minor Delays",
                "operationId": "Line_StatusByIds",
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "description": "A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.",
                        "required": true,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "detail",
                        "in": "query",
                        "description": "Include details of the disruptions that are causing the line status including the affected stops and routes",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-24"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-25"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-26"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-Api-Presentation-Entities-LineArray-27"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Line/Search/{query}": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Search for lines or routes matching the query string",
                "description": "Search for lines or routes matching the query string",
                "operationId": "Line_Search",
                "parameters": [
                    {
                        "name": "query",
                        "in": "path",
                        "description": "Search term e.g victoria",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modes",
                        "in": "query",
                        "description": "Optionally filter by the specified modes",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "serviceTypes",
                        "in": "query",
                        "description": "A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified",
                        "schema": {
                            "type": "array"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.RouteSearchResponse"
                                },
                                "example": {
                                    "input": "string",
                                    "searchMatches": [
                                        {
                                            "lineId": "string",
                                            "mode": "string",
                                            "lineName": "string",
                                            "lineRouteSection": [
                                                {
                                                    "routeId": 0,
                                                    "direction": "string",
                                                    "destination": "string",
                                                    "fromStation": "string",
                                                    "toStation": "string",
                                                    "serviceType": "string",
                                                    "vehicleDestinationText": "string"
                                                }
                                            ],
                                            "matchedRouteSections": [
                                                {
                                                    "id": 0
                                                }
                                            ],
                                            "matchedStops": [
                                                {
                                                    "routeId": 0,
                                                    "parentId": "string",
                                                    "stationId": "string",
                                                    "icsId": "string",
                                                    "topMostParentId": "string",
                                                    "direction": "string",
                                                    "towards": "string",
                                                    "modes": [
                                                        "string"
                                                    ],
                                                    "stopType": "string",
                                                    "stopLetter": "string",
                                                    "zone": "string",
                                                    "accessibilitySummary": "string",
                                                    "hasDisruption": true,
                                                    "lines": [
                                                        {
                                                            "id": "string",
                                                            "name": "string",
                                                            "uri": "string",
                                                            "fullName": "string",
                                                            "type": "string",
                                                            "crowding": {
                                                                "passengerFlows": [
                                                                    {
                                                                        "timeSlice": "string",
                                                                        "value": 0
                                                                    }
                                                                ],
                                                                "trainLoadings": [
                                                                    {
                                                                        "line": "string",
                                                                        "lineDirection": "string",
                                                                        "platformDirection": "string",
                                                                        "direction": "string",
                                                                        "naptanTo": "string",
                                                                        "timeSlice": "string",
                                                                        "value": 0
                                                                    }
                                                                ]
                                                            },
                                                            "routeType": "Unknown",
                                                            "status": "Unknown"
                                                        }
                                                    ],
                                                    "status": true,
                                                    "id": "string",
                                                    "url": "string",
                                                    "name": "string",
                                                    "lat": 0,
                                                    "lon": 0
                                                }
                                            ],
                                            "id": "string",
                                            "url": "string",
                                            "name": "string",
                                            "lat": 0,
                                            "lon": 0
                                        }
                                    ]
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.RouteSearchResponse"
                                },
                                "example": {
                                    "input": "string",
                                    "searchMatches": [
                                        {
                                            "lineId": "string",
                                            "mode": "string",
                                            "lineName": "string",
                                            "lineRouteSection": [
                                                {
                                                    "routeId": 0,
                                                    "direction": "string",
                                                    "destination": "string",
                                                    "fromStation": "string",
                                                    "toStation": "string",
                                                    "serviceType": "string",
                                                    "vehicleDestinationText": "string"
                                                }
                                            ],
                                            "matchedRouteSections": [
                                                {
                                                    "id": 0
                                                }
                                            ],
                                            "matchedStops": [
                                                {
                                                    "routeId": 0,
                                                    "parentId": "string",
                                                    "stationId": "string",
                                                    "icsId": "string",
                                                    "topMostParentId": "string",
[...]
