{
    "openapi": "3.0.1",
    "info": {
        "title": "Line",
        "description": "APIs relating to Line and similar services",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.tfl.gov.uk/Line"
        }
    ],
    "paths": {
        "/Meta/Modes": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Gets a list of valid modes",
                "description": "Gets a list of valid modes",
                "operationId": "Line_MetaModes",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MetaModesGet200ApplicationJsonResponse"
                                },
                                "example": [
                                    {
                                        "isTflService": true,
                                        "isFarePaying": true,
                                        "isScheduledService": true,
                                        "modeName": "string"
                                    }
                                ]
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MetaModesGet200TextJsonResponse"
                                },
                                "example": [
                                    {
                                        "isTflService": true,
                                        "isFarePaying": true,
                                        "isScheduledService": true,
                                        "modeName": "string"
                                    }
                                ]
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/MetaModesGet200ApplicationXmlResponse"
                                },
                                "example": "<MetaModesGet200ApplicationXmlResponse> <isTflService>true</isTflService> <isFarePaying>true</isFarePaying> <isScheduledService>true</isScheduledService> <modeName>string</modeName> </MetaModesGet200ApplicationXmlResponse>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/MetaModesGet200TextXmlResponse"
                                },
                                "example": "<MetaModesGet200TextXmlResponse> <isTflService>true</isTflService> <isFarePaying>true</isFarePaying> <isScheduledService>true</isScheduledService> <modeName>string</modeName> </MetaModesGet200TextXmlResponse>"
                            }
                        }
                    }
                }
            }
        },
        "/Meta/Severity": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Gets a list of valid severity codes",
                "description": "Gets a list of valid severity codes",
                "operationId": "Line_MetaSeverity",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MetaSeverityGet200ApplicationJsonResponse"
                                },
                                "example": [
                                    {
                                        "modeName": "string",
                                        "severityLevel": 0,
                                        "description": "string"
                                    }
                                ]
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MetaSeverityGet200TextJsonResponse"
                                },
                                "example": [
                                    {
                                        "modeName": "string",
                                        "severityLevel": 0,
                                        "description": "string"
                                    }
                                ]
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/MetaSeverityGet200ApplicationXmlResponse"
                                },
                                "example": "<MetaSeverityGet200ApplicationXmlResponse> <modeName>string</modeName> <severityLevel>0</severityLevel> <description>string</description> </MetaSeverityGet200ApplicationXmlResponse>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/MetaSeverityGet200TextXmlResponse"
                                },
                                "example": "<MetaSeverityGet200TextXmlResponse> <modeName>string</modeName> <severityLevel>0</severityLevel> <description>string</description> </MetaSeverityGet200TextXmlResponse>"
                            }
                        }
                    }
                }
            }
        },
        "/Meta/DisruptionCategories": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Gets a list of valid disruption categories",
                "description": "Gets a list of valid disruption categories",
                "operationId": "Line_MetaDisruptionCategories",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MetaDisruptionCategoriesGet200ApplicationJsonResponse"
                                },
                                "example": [
                                    "string"
                                ]
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MetaDisruptionCategoriesGet200TextJsonResponse"
                                },
                                "example": [
                                    "string"
                                ]
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/MetaDisruptionCategoriesGet200ApplicationXmlResponse"
                                },
                                "example": "<MetaDisruptionCategoriesGet200ApplicationXmlResponse>string</MetaDisruptionCategoriesGet200ApplicationXmlResponse>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/MetaDisruptionCategoriesGet200TextXmlResponse"
                                },
                                "example": "<MetaDisruptionCategoriesGet200TextXmlResponse>string</MetaDisruptionCategoriesGet200TextXmlResponse>"
                            }
                        }
                    }
                }
            }
        },
        "/Meta/ServiceTypes": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Gets a list of valid ServiceTypes to filter on",
                "description": "Gets a list of valid ServiceTypes to filter on",
                "operationId": "Line_MetaServiceTypes",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MetaServiceTypesGet200ApplicationJsonResponse"
                                },
                                "example": [
                                    "string"
                                ]
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MetaServiceTypesGet200TextJsonResponse"
                                },
                                "example": [
                                    "string"
                                ]
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/MetaServiceTypesGet200ApplicationXmlResponse"
                                },
                                "example": "<MetaServiceTypesGet200ApplicationXmlResponse>string</MetaServiceTypesGet200ApplicationXmlResponse>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/MetaServiceTypesGet200TextXmlResponse"
                                },
                                "example": "<MetaServiceTypesGet200TextXmlResponse>string</MetaServiceTypesGet200TextXmlResponse>"
                            }
                        }
                    }
                }
            }
        },
        "/{ids}": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Gets lines that match the specified line ids.",
                "description": "Gets lines that match the specified line ids.",
                "operationId": "Line_GetByPathIds",
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "description": "A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ids-Get200ApplicationJsonResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ids-Get200TextJsonResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ids-Get200ApplicationXmlResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ids-Get200TextXmlResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Mode/{modes}": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Gets lines that serve the given modes.",
                "description": "Gets lines that serve the given modes.",
                "operationId": "Line_GetByModeByPathModes",
                "parameters": [
                    {
                        "name": "modes",
                        "in": "path",
                        "description": "A comma-separated list of modes e.g. tube,dlr",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Mode-modes-Get200ApplicationJsonResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Mode-modes-Get200TextJsonResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Mode-modes-Get200ApplicationXmlResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Mode-modes-Get200TextXmlResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Route": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Get all valid routes for all lines, including the name and id of the originating and terminating stops for each route.",
                "description": "Get all valid routes for all lines, including the name and id of the originating and terminating stops for each route.",
                "operationId": "Line_RouteByQueryServiceTypes",
                "parameters": [
                    {
                        "name": "serviceTypes",
                        "in": "query",
                        "description": "A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified",
                        "schema": {
                            "enum": [
                                "Regular",
                                "Night"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RouteGet200ApplicationJsonResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RouteGet200TextJsonResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/RouteGet200ApplicationXmlResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/RouteGet200TextXmlResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{ids}/Route": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Get all valid routes for given line ids, including the name and id of the originating and terminating stops for each route.",
                "description": "Get all valid routes for given line ids, including the name and id of the originating and terminating stops for each route.",
                "operationId": "Line_LineRoutesByIdsByPathIdsQueryServiceTypes",
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "description": "A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "serviceTypes",
                        "in": "query",
                        "description": "A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified",
                        "schema": {
                            "enum": [
                                "Regular",
                                "Night"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ids-RouteGet200ApplicationJsonResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ids-RouteGet200TextJsonResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ids-RouteGet200ApplicationXmlResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ids-RouteGet200TextXmlResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Mode/{modes}/Route": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Gets all lines and their valid routes for given modes, including the name and id of the originating and terminating stops for each route",
                "description": "Gets all lines and their valid routes for given modes, including the name and id of the originating and terminating stops for each route",
                "operationId": "Line_RouteByModeByPathModesQueryServiceTypes",
                "parameters": [
                    {
                        "name": "modes",
                        "in": "path",
                        "description": "A comma-separated list of modes e.g. tube,dlr",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "serviceTypes",
                        "in": "query",
                        "description": "A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified",
                        "schema": {
                            "enum": [
                                "Regular",
                                "Night"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Mode-modes-RouteGet200ApplicationJsonResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Mode-modes-RouteGet200TextJsonResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Mode-modes-RouteGet200ApplicationXmlResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Mode-modes-RouteGet200TextXmlResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{id}/Route/Sequence/{direction}": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Gets all valid routes for given line id, including the sequence of stops on each route.",
                "description": "Gets all valid routes for given line id, including the sequence of stops on each route.",
                "operationId": "Line_RouteSequenceByPathIdPathDirectionQueryServiceTypesQueryExcludeCrowding",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "A single line id e.g. victoria",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "direction",
                        "in": "path",
                        "description": "The direction of travel. Can be inbound or outbound.",
                        "required": true,
                        "schema": {
                            "enum": [
                                "inbound",
                                "outbound",
                                "all"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "serviceTypes",
                        "in": "query",
                        "description": "A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified",
                        "schema": {
                            "enum": [
                                "Regular",
                                "Night"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "excludeCrowding",
                        "in": "query",
                        "description": "That excludes crowding from line disruptions. Can be true or false.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-23"
                                },
                                "example": {
                                    "lineId": "string",
                                    "lineName": "string",
                                    "direction": "string",
                                    "isOutboundOnly": true,
                                    "mode": "string",
                                    "lineStrings": [
                                        "string"
                                    ],
                                    "stations": [
                                        {
                                            "routeId": 0,
                                            "parentId": "string",
                                            "stationId": "string",
                                            "icsId": "string",
                                            "topMostParentId": "string",
                                            "direction": "string",
                                            "towards": "string",
                                            "modes": [
                                                "string"
                                            ],
                                            "stopType": "string",
                                            "stopLetter": "string",
                                            "zone": "string",
                                            "accessibilitySummary": "string",
                                            "hasDisruption": true,
                                            "lines": [
                                                {
                                                    "id": "string",
                                                    "name": "string",
                                                    "uri": "string",
                                                    "fullName": "string",
                                                    "type": "string",
                                                    "crowding": {
                                                        "passengerFlows": [
                                                            {
                                                                "timeSlice": "string",
                                                                "value": 0
                                                            }
                                                        ],
                                                        "trainLoadings": [
                                                            {
                                                                "line": "string",
                                                                "lineDirection": "string",
                                                                "platformDirection": "string",
                                                                "direction": "string",
                                                                "naptanTo": "string",
                                                                "timeSlice": "string",
                                                                "value": 0
                                                            }
                                                        ]
                                                    },
                                                    "routeType": "Unknown",
                                                    "status": "Unknown"
                                                }
                                            ],
                                            "status": true,
                                            "id": "string",
                                            "url": "string",
                                            "name": "string",
                                            "lat": 0,
                                            "lon": 0
                                        }
                                    ],
                                    "stopPointSequences": [
                                        {
                                            "lineId": "string",
                                            "lineName": "string",
                                            "direction": "string",
                                            "branchId": 0,
                                            "nextBranchIds": [
                                                0
                                            ],
                                            "prevBranchIds": [
                                                0
                                            ],
                                            "stopPoint": [
                                                {
                                                    "routeId": 0,
                                                    "parentId": "string",
                                                    "stationId": "string",
                                                    "icsId": "string",
                                                    "topMostParentId": "string",
                                                    "direction": "string",
                                                    "towards": "string",
                                                    "modes": [
                                                        "string"
                                                    ],
                                                    "stopType": "string",
                                                    "stopLetter": "string",
                                                    "zone": "string",
                                                    "accessibilitySummary": "string",
                                                    "hasDisruption": true,
                                                    "lines": [
                                                        {
                                                            "id": "string",
                                                            "name": "string",
                                                            "uri": "string",
                                                            "fullName": "string",
                                                            "type": "string",
                                                            "crowding": {
                                                                "passengerFlows": [
                                                                    {
                                                                        "timeSlice": "string",
                                                                        "value": 0
                                                                    }
                                                                ],
                                                                "trainLoadings": [
                                                                    {
                                                                        "line": "string",
                                                                        "lineDirection": "string",
                                                                        "platformDirection": "string",
                                                                        "direction": "string",
                                                                        "naptanTo": "string",
                                                                        "timeSlice": "string",
                                                                        "value": 0
                                                                    }
                                                                ]
                                                            },
                                                            "routeType": "Unknown",
                                                            "status": "Unknown"
                                                        }
                                                    ],
                                                    "status": true,
                                                    "id": "string",
                                                    "url": "string",
                                                    "name": "string",
                                                    "lat": 0,
                                                    "lon": 0
                                                }
                                            ],
                                            "serviceType": "Regular"
                                        }
                                    ],
                                    "orderedLineRoutes": [
                                        {
                                            "name": "string",
                                            "naptanIds": [
                                                "string"
                                            ],
                                            "serviceType": "string"
                                        }
                                    ]
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-23"
                                },
                                "example": {
                                    "lineId": "string",
                                    "lineName": "string",
                                    "direction": "string",
                                    "isOutboundOnly": true,
                                    "mode": "string",
                                    "lineStrings": [
                                        "string"
                                    ],
                                    "stations": [
                                        {
                                            "routeId": 0,
                                            "parentId": "string",
                                            "stationId": "string",
                                            "icsId": "string",
                                            "topMostParentId": "string",
                                            "direction": "string",
                                            "towards": "string",
                                            "modes": [
                                                "string"
                                            ],
                                            "stopType": "string",
                                            "stopLetter": "string",
                                            "zone": "string",
                                            "accessibilitySummary": "string",
                                            "hasDisruption": true,
                                            "lines": [
                                                {
                                                    "id": "string",
                                                    "name": "string",
                                                    "uri": "string",
                                                    "fullName": "string",
                                                    "type": "string",
                                                    "crowding": {
                                                        "passengerFlows": [
                                                            {
                                                                "timeSlice": "string",
                                                                "value": 0
                                                            }
                                                        ],
                                                        "trainLoadings": [
                                                            {
                                                                "line": "string",
                                                                "lineDirection": "string",
                                                                "platformDirection": "string",
                                                                "direction": "string",
                                                                "naptanTo": "string",
                                                                "timeSlice": "string",
                                                                "value": 0
                                                            }
                                                        ]
                                                    },
                                                    "routeType": "Unknown",
                                                    "status": "Unknown"
                                                }
                                            ],
                                            "status": true,
                                            "id": "string",
                                            "url": "string",
                                            "name": "string",
                                            "lat": 0,
                                            "lon": 0
                                        }
                                    ],
                                    "stopPointSequences": [
                                        {
                                            "lineId": "string",
                                            "lineName": "string",
                                            "direction": "string",
                                            "branchId": 0,
                                            "nextBranchIds": [
                                                0
                                            ],
                                            "prevBranchIds": [
                                                0
                                            ],
                                            "stopPoint": [
                                                {
                                                    "routeId": 0,
                                                    "parentId": "string",
                                                    "stationId": "string",
                                                    "icsId": "string",
                                                    "topMostParentId": "string",
                                                    "direction": "string",
                                                    "towards": "string",
                                                    "modes": [
                                                        "string"
                                                    ],
                                                    "stopType": "string",
                                                    "stopLetter": "string",
                                                    "zone": "string",
                                                    "accessibilitySummary": "string",
                                                    "hasDisruption": true,
                                                    "lines": [
                                                        {
                                                            "id": "string",
                                                            "name": "string",
                                                            "uri": "string",
                                                            "fullName": "string",
                                                            "type": "string",
                                                            "crowding": {
                                                                "passengerFlows": [
                                                                    {
                                                                        "timeSlice": "string",
                                                                        "value": 0
                                                                    }
                                                                ],
                                                                "trainLoadings": [
                                                                    {
                                                                        "line": "string",
                                                                        "lineDirection": "string",
                                                                        "platformDirection": "string",
                                                                        "direction": "string",
                                                                        "naptanTo": "string",
                                                                        "timeSlice": "string",
                                                                        "value": 0
                                                                    }
                                                                ]
                                                            },
                                                            "routeType": "Unknown",
                                                            "status": "Unknown"
                                                        }
                                                    ],
                                                    "status": true,
                                                    "id": "string",
                                                    "url": "string",
                                                    "name": "string",
                                                    "lat": 0,
                                                    "lon": 0
                                                }
                                            ],
                                            "serviceType": "Regular"
                                        }
                                    ],
                                    "orderedLineRoutes": [
                                        {
                                            "name": "string",
                                            "naptanIds": [
                                                "string"
                                            ],
                                            "serviceType": "string"
                                        }
                                    ]
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-23"
                                },
                                "example": "<Tfl-23> <lineId>string</lineId> <lineName>string</lineName> <direction>string</direction> <isOutboundOnly>true</isOutboundOnly> <mode>string</mode> <lineStrings>string</lineStrings> <stations> <routeId>0</routeId> <parentId>string</parentId> <stationId>string</stationId> <icsId>string</icsId> <topMostParentId>string</topMostParentId> <direction>string</direction> <towards>string</towards> <modes>string</modes> <stopType>string</stopType> <stopLetter>string</stopLetter> <zone>string</zone> <accessibilitySummary>string</accessibilitySummary> <hasDisruption>true</hasDisruption> <lines> <id>string</id> <name>string</name> <uri>string</uri> <fullName>string</fullName> <type>string</type> <crowding> <passengerFlows> <timeSlice>string</timeSlice> <value>0</value> </passengerFlows> <trainLoadings> <line>string</line> <lineDirection>string</lineDirection> <platformDirection>string</platformDirection> <direction>string</direction> <naptanTo>string</naptanTo> <timeSlice>string</timeSlice> <value>0</value> </trainLoadings> </crowding> <routeType>Unknown</routeType> <status>Unknown</status> </lines> <status>true</status> <id>string</id> <url>string</url> <name>string</name> <lat>0</lat> <lon>0</lon> </stations> <stopPointSequences> <lineId>string</lineId> <lineName>string</lineName> <direction>string</direction> <branchId>0</branchId> <nextBranchIds>0</nextBranchIds> <prevBranchIds>0</prevBranchIds> <stopPoint> <routeId>0</routeId> <parentId>string</parentId> <stationId>string</stationId> <icsId>string</icsId> <topMostParentId>string</topMostParentId> <direction>string</direction> <towards>string</towards> <modes>string</modes> <stopType>string</stopType> <stopLetter>string</stopLetter> <zone>string</zone> <accessibilitySummary>string</accessibilitySummary> <hasDisruption>true</hasDisruption> <lines> <id>string</id> <name>string</name> <uri>string</uri> <fullName>string</fullName> <type>string</type> <crowding> <passengerFlows> <timeSlice>string</timeSlice> <value>0</value> </passengerFlows> <trainLoadings> <line>string</line> <lineDirection>string</lineDirection> <platformDirection>string</platformDirection> <direction>string</direction> <naptanTo>string</naptanTo> <timeSlice>string</timeSlice> <value>0</value> </trainLoadings> </crowding> <routeType>Unknown</routeType> <status>Unknown</status> </lines> <status>true</status> <id>string</id> <url>string</url> <name>string</name> <lat>0</lat> <lon>0</lon> </stopPoint> <serviceType>Regular</serviceType> </stopPointSequences> <orderedLineRoutes> <name>string</name> <naptanIds>string</naptanIds> <serviceType>string</serviceType> </orderedLineRoutes> </Tfl-23>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-23"
                                },
                                "example": "<Tfl-23> <lineId>string</lineId> <lineName>string</lineName> <direction>string</direction> <isOutboundOnly>true</isOutboundOnly> <mode>string</mode> <lineStrings>string</lineStrings> <stations> <routeId>0</routeId> <parentId>string</parentId> <stationId>string</stationId> <icsId>string</icsId> <topMostParentId>string</topMostParentId> <direction>string</direction> <towards>string</towards> <modes>string</modes> <stopType>string</stopType> <stopLetter>string</stopLetter> <zone>string</zone> <accessibilitySummary>string</accessibilitySummary> <hasDisruption>true</hasDisruption> <lines> <id>string</id> <name>string</name> <uri>string</uri> <fullName>string</fullName> <type>string</type> <crowding> <passengerFlows> <timeSlice>string</timeSlice> <value>0</value> </passengerFlows> <trainLoadings> <line>string</line> <lineDirection>string</lineDirection> <platformDirection>string</platformDirection> <direction>string</direction> <naptanTo>string</naptanTo> <timeSlice>string</timeSlice> <value>0</value> </trainLoadings> </crowding> <routeType>Unknown</routeType> <status>Unknown</status> </lines> <status>true</status> <id>string</id> <url>string</url> <name>string</name> <lat>0</lat> <lon>0</lon> </stations> <stopPointSequences> <lineId>string</lineId> <lineName>string</lineName> <direction>string</direction> <branchId>0</branchId> <nextBranchIds>0</nextBranchIds> <prevBranchIds>0</prevBranchIds> <stopPoint> <routeId>0</routeId> <parentId>string</parentId> <stationId>string</stationId> <icsId>string</icsId> <topMostParentId>string</topMostParentId> <direction>string</direction> <towards>string</towards> <modes>string</modes> <stopType>string</stopType> <stopLetter>string</stopLetter> <zone>string</zone> <accessibilitySummary>string</accessibilitySummary> <hasDisruption>true</hasDisruption> <lines> <id>string</id> <name>string</name> <uri>string</uri> <fullName>string</fullName> <type>string</type> <crowding> <passengerFlows> <timeSlice>string</timeSlice> <value>0</value> </passengerFlows> <trainLoadings> <line>string</line> <lineDirection>string</lineDirection> <platformDirection>string</platformDirection> <direction>string</direction> <naptanTo>string</naptanTo> <timeSlice>string</timeSlice> <value>0</value> </trainLoadings> </crowding> <routeType>Unknown</routeType> <status>Unknown</status> </lines> <status>true</status> <id>string</id> <url>string</url> <name>string</name> <lat>0</lat> <lon>0</lon> </stopPoint> <serviceType>Regular</serviceType> </stopPointSequences> <orderedLineRoutes> <name>string</name> <naptanIds>string</naptanIds> <serviceType>string</serviceType> </orderedLineRoutes> </Tfl-23>"
                            }
                        }
                    }
                }
            }
        },
        "/{ids}/Status/{startDate}/to/{endDate}": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Gets the line status for given line ids during the provided dates e.g Minor Delays",
                "description": "Gets the line status for given line ids during the provided dates e.g Minor Delays",
                "operationId": "Line_StatusByPathIdsPathStartDatePathEndDateQueryDetail",
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "description": "A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "startDate",
                        "in": "path",
                        "description": "Format - date-time (as date-time in RFC3339). Start date for start of the period",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "endDate",
                        "in": "path",
                        "description": "Format - date-time (as date-time in RFC3339). End date for the period that the disruption will fall within to be included in the results",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "detail",
                        "in": "query",
                        "description": "Include details of the disruptions that are causing the line status including the affected stops and routes",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ids-Status-startDate-To-endDate-Get200ApplicationJsonResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ids-Status-startDate-To-endDate-Get200TextJsonResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ids-Status-startDate-To-endDate-Get200ApplicationXmlResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ids-Status-startDate-To-endDate-Get200TextXmlResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{ids}/Status": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Gets the line status of for given line ids e.g Minor Delays",
                "description": "Gets the line status of for given line ids e.g Minor Delays",
                "operationId": "Line_StatusByIdsByPathIdsQueryDetail",
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "description": "A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "detail",
                        "in": "query",
                        "description": "Include details of the disruptions that are causing the line status including the affected stops and routes",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ids-StatusGet200ApplicationJsonResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ids-StatusGet200TextJsonResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ids-StatusGet200ApplicationXmlResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ids-StatusGet200TextXmlResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Search/{query}": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Search for lines or routes matching the query string",
                "description": "Search for lines or routes matching the query string",
                "operationId": "Line_SearchByPathQueryQueryModesQueryServiceTypes",
                "parameters": [
                    {
                        "name": "query",
                        "in": "path",
                        "description": "Search term e.g victoria",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modes",
                        "in": "query",
                        "description": "Optionally filter by the specified modes",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "serviceTypes",
                        "in": "query",
                        "description": "A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified",
                        "schema": {
                            "enum": [
                                "Regular",
                                "Night"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-27"
                                },
                                "example": {
                                    "input": "string",
                                    "searchMatches": [
                                        {
                                            "lineId": "string",
                                            "mode": "string",
                                            "lineName": "string",
                                            "lineRouteSection": [
                                                {
                                                    "routeId": 0,
                                                    "direction": "string",
                                                    "destination": "string",
                                                    "fromStation": "string",
                                                    "toStation": "string",
                                                    "serviceType": "string",
                                                    "vehicleDestinationText": "string"
                                                }
                                            ],
                                            "matchedRouteSections": [
                                                {
                                                    "id": 0
                                                }
                                            ],
                                            "matchedStops": [
                                                {
                                                    "routeId": 0,
                                                    "parentId": "string",
                                                    "stationId": "string",
                                                    "icsId": "string",
                                                    "topMostParentId": "string",
                                                    "direction": "string",
                                                    "towards": "string",
                                                    "modes": [
                                                        "string"
                                                    ],
                                                    "stopType": "string",
                                                    "stopLetter": "string",
                                                    "zone": "string",
                                                    "accessibilitySummary": "string",
                                                    "hasDisruption": true,
                                                    "lines": [
                                                        {
                                                            "id": "string",
                                                            "name": "string",
                                                            "uri": "string",
                                                            "fullName": "string",
                                                            "type": "string",
                                                            "crowding": {
                                                                "passengerFlows": [
                                                                    {
                                                                        "timeSlice": "string",
                                                                        "value": 0
                                                                    }
                                                                ],
                                                                "trainLoadings": [
                                                                    {
                                                                        "line": "string",
                                                                        "lineDirection": "string",
                                                                        "platformDirection": "string",
                                                                        "direction": "string",
                                                                        "naptanTo": "string",
                                                                        "timeSlice": "string",
                                                                        "value": 0
                                                                    }
                                                                ]
                                                            },
                                                            "routeType": "Unknown",
                                                            "status": "Unknown"
                                                        }
                                                    ],
                                                    "status": true,
                                                    "id": "string",
                                                    "url": "string",
                                                    "name": "string",
                                                    "lat": 0,
                                                    "lon": 0
                                                }
                                            ],
                                            "id": "string",
                                            "url": "string",
                                            "name": "string",
                                            "lat": 0,
                                            "lon": 0
                                        }
                                    ]
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-27"
                                },
                                "example": {
                                    "input": "string",
                                    "searchMatches": [
                                        {
                                            "lineId": "string",
                                            "mode": "string",
                                            "lineName": "string",
                                            "lineRouteSection": [
                                                {
                                                    "routeId": 0,
                                                    "direction": "string",
                                                    "destination": "string",
                                                    "fromStation": "string",
                                                    "toStation": "string",
                                                    "serviceType": "string",
                                                    "vehicleDestinationText": "string"
                                                }
                                            ],
                                            "matchedRouteSections": [
                                                {
                                                    "id": 0
                                                }
                                            ],
                                            "matchedStops": [
                                                {
                                                    "routeId": 0,
                                                    "parentId": "string",
                                                    "stationId": "string",
                                                    "icsId": "string",
                                                    "topMostParentId": "string",
                                                    "direction": "string",
                                                    "towards": "string",
                                                    "modes": [
                                                        "string"
                                                    ],
                                                    "stopType": "string",
                                                    "stopLetter": "string",
                                                    "zone": "string",
                                                    "accessibilitySummary": "string",
                                                    "hasDisruption": true,
                                                    "lines": [
                                                        {
                                                            "id": "string",
                                                            "name": "string",
                                                            "uri": "string",
                                                            "fullName": "string",
                                                            "type": "string",
                                                            "crowding": {
                                                                "passengerFlows": [
                                                                    {
                                                                        "timeSlice": "string",
                                                                        "value": 0
                                                                    }
                                                                ],
                                                                "trainLoadings": [
                                                                    {
                                                                        "line": "string",
                                                                        "lineDirection": "string",
                                                                        "platformDirection": "string",
                                                                        "direction": "string",
                                                                        "naptanTo": "string",
                                                                        "timeSlice": "string",
                                                                        "value": 0
                                                                    }
                                                                ]
                                                            },
                                                            "routeType": "Unknown",
                                                            "status": "Unknown"
                                                        }
                                                    ],
                                                    "status": true,
                                                    "id": "string",
                                                    "url": "string",
                                                    "name": "string",
                                                    "lat": 0,
                                                    "lon": 0
                                                }
                                            ],
                                            "id": "string",
                                            "url": "string",
                                            "name": "string",
                                            "lat": 0,
                                            "lon": 0
                                        }
                                    ]
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-27"
                                },
                                "example": "<Tfl-27> <input>string</input> <searchMatches> <lineId>string</lineId> <mode>string</mode> <lineName>string</lineName> <lineRouteSection> <routeId>0</routeId> <direction>string</direction> <destination>string</destination> <fromStation>string</fromStation> <toStation>string</toStation> <serviceType>string</serviceType> <vehicleDestinationText>string</vehicleDestinationText> </lineRouteSection> <matchedRouteSections> <id>0</id> </matchedRouteSections> <matchedStops> <routeId>0</routeId> <parentId>string</parentId> <stationId>string</stationId> <icsId>string</icsId> <topMostParentId>string</topMostParentId> <direction>string</direction> <towards>string</towards> <modes>string</modes> <stopType>string</stopType> <stopLetter>string</stopLetter> <zone>string</zone> <accessibilitySummary>string</accessibilitySummary> <hasDisruption>true</hasDisruption> <lines> <id>string</id> <name>string</name> <uri>string</uri> <fullName>string</fullName> <type>string</type> <crowding> <passengerFlows> <timeSlice>string</timeSlice> <value>0</value> </passengerFlows> <trainLoadings> <line>string</line> <lineDirection>string</lineDirection> <platformDirection>string</platformDirection> <direction>string</direction> <naptanTo>string</naptanTo> <timeSlice>string</timeSlice> <value>0</value> </trainLoadings> </crowding> <routeType>Unknown</routeType> <status>Unknown</status> </lines> <status>true</status> <id>string</id> <url>string</url> <name>string</name> <lat>0</lat> <lon>0</lon> </matchedStops> <id>string</id> <url>string</url> <name>string</name> <lat>0</lat> <lon>0</lon> </searchMatches> </Tfl-27>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-27"
                                },
                                "example": "<Tfl-27> <input>string</input> <searchMatches> <lineId>string</lineId> <mode>string</mode> <lineName>string</lineName> <lineRouteSection> <routeId>0</routeId> <direction>string</direction> <destination>string</destination> <fromStation>string</fromStation> <toStation>string</toStation> <serviceType>string</serviceType> <vehicleDestinationText>string</vehicleDestinationText> </lineRouteSection> <matchedRouteSections> <id>0</id> </matchedRouteSections> <matchedStops> <routeId>0</routeId> <parentId>string</parentId> <stationId>string</stationId> <icsId>string</icsId> <topMostParentId>string</topMostParentId> <direction>string</direction> <towards>string</towards> <modes>string</modes> <stopType>string</stopType> <stopLetter>string</stopLetter> <zone>string</zone> <accessibilitySummary>string</accessibilitySummary> <hasDisruption>true</hasDisruption> <lines> <id>string</id> <name>string</name> <uri>string</uri> <fullName>string</fullName> <type>string</type> <crowding> <passengerFlows> <timeSlice>string</timeSlice> <value>0</value> </passengerFlows> <trainLoadings> <line>string</line> <lineDirection>string</lineDirection> <platformDirection>string</platformDirection> <direction>string</direction> <naptanTo>string</naptanTo> <timeSlice>string</timeSlice> <value>0</value> </trainLoadings> </crowding> <routeType>Unknown</routeType> <status>Unknown</status> </lines> <status>true</status> <id>string</id> <url>string</url> <name>string</name> <lat>0</lat> <lon>0</lon> </matchedStops> <id>string</id> <url>string</url> <name>string</name> <lat>0</lat> <lon>0</lon> </searchMatches> </Tfl-27>"
                            }
                        }
                    }
                }
            }
        },
        "/Status/{severity}": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Gets the line status for all lines with a given severity A list of valid severity codes can be obtained from a call to Line/Meta/Severity",
                "description": "Gets the line status for all lines with a given severity A list of valid severity codes can be obtained from a call to Line/Meta/Severity",
                "operationId": "Line_StatusBySeverityByPathSeverity",
                "parameters": [
                    {
                        "name": "severity",
                        "in": "path",
                        "description": "Format - int32. The level of severity (eg: a number from 0 to 14)",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Status-severity-Get200ApplicationJsonResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Status-severity-Get200TextJsonResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Status-severity-Get200ApplicationXmlResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Status-severity-Get200TextXmlResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Mode/{modes}/Status": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Gets the line status of for all lines for the given modes",
                "description": "Gets the line status of for all lines for the given modes",
                "operationId": "Line_StatusByModeByPathModesQueryDetailQuerySeverityLevel",
                "parameters": [
                    {
                        "name": "modes",
                        "in": "path",
                        "description": "A comma-separated list of modes to filter by. e.g. tube,dlr",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "detail",
                        "in": "query",
                        "description": "Include details of the disruptions that are causing the line status including the affected stops and routes",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "severityLevel",
                        "in": "query",
                        "description": "If specified, ensures that only those line status(es) are returned within the lines that have disruptions with the matching severity level.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Mode-modes-StatusGet200ApplicationJsonResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Mode-modes-StatusGet200TextJsonResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Mode-modes-StatusGet200ApplicationXmlResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Mode-modes-StatusGet200TextXmlResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{id}/StopPoints": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Gets a list of the stations that serve the given line id",
                "description": "Gets a list of the stations that serve the given line id",
                "operationId": "Line_StopPointsByPathIdQueryTflOperatedNationalRailStationsOnly",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "A single line id e.g. victoria",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tflOperatedNationalRailStationsOnly",
                        "in": "query",
                        "description": "If the national-rail line is requested, this flag will filter the national rail stations so that only those operated by TfL are returned",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/id-StopPointsGet200ApplicationJsonResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/id-StopPointsGet200TextJsonResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/id-StopPointsGet200ApplicationXmlResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/id-StopPointsGet200TextXmlResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{id}/Timetable/{fromStopPointId}": {
            "get": {
                "tags": [
                    "Line"
                ],
                "summary": "Gets the timetable for a specified station on the give line",
                "description": "Gets the timetable for a specified station on the give line",
                "operationId": "Line_TimetableByPathFromStopPointIdPathId",
                "parameters": [
                    {
                        "name": "fromStopPointId",
                        "in": "path",
                        "description": "The originating station's stop point id (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "A single line id e.g. victoria",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-39"
                                },
                                "example": {
                                    "lineId": "string",
                                    "lineName": "string",
                                    "direction": "string",
                                    "pdfUrl": "string",
                                    "stations": [
                                        {
                                            "routeId": 0,
                                            "parentId": "string",
                                            "stationId": "string",
                                            "icsId": "string",
                                            "topMostParentId": "string",
                                            "direction": "string",
                                            "towards": "string",
                                            "modes": [
                                                "string"
                                            ],
                                            "stopType": "string",
                                            "stopLetter": "string",
                                            "zone": "string",
                                            "accessibilitySummary": "string",
                                            "hasDisruption": true,
                                            "lines": [
                                                {
                                                    "id": "string",
                                                    "name": "string",
                                                    "uri": "string",
                                                    "fullName": "string",
                                                    "type": "string",
                                                    "crowding": {
                                                        "passengerFlows": [
                                                            {
                                                                "timeSlice": "string",
                                                                "value": 0
                                                            }
                                                        ],
                                                        "trainLoadings": [
                                                            {
                                                                "line": "string",
                                                                "lineDirection": "string",
                                                                "platformDirection": "string",
                                                                "direction": "string",
                                                                "naptanTo": "string",
                                                                "timeSlice": "string",
                                                                "value": 0
                                                            }
                                                        ]
                                                    },
                                                    "routeType": "Unknown",
                                                    "status": "Unknown"
                                                }
                                            ],
                                            "status": true,
                                            "id": "string",
                                            "url": "string",
                                            "name": "string",
                                            "lat": 0,
                                            "lon": 0
                                        }
                                    ],
                                    "stops": [
                                        {
                                            "routeId": 0,
                                            "parentId": "string",
                                            "stationId": "string",
                                            "icsId": "string",
                                            "topMostParentId": "string",
                                            "direction": "string",
                                            "towards": "string",
                                            "modes": [
                                                "string"
                                            ],
                                            "stopType": "string",
                                            "stopLetter": "string",
                                            "zone": "string",
                                            "accessibilitySummary": "string",
                                            "hasDisruption": true,
                                            "lines": [
                                                {
                                                    "id": "string",
                                                    "name": "string",
                                                    "uri": "string",
                                                    "fullName": "string",
                                                    "type": "string",
                                                    "crowding": {
                                                        "passengerFlows": [
                                                            {
                                                                "timeSlice": "string",
                                                                "value": 0
                                                            }
                                                        ],
                                                        "trainLoadings": [
                                                            {
                                                                "line": "string",
                                                                "lineDirection": "string",
                                                                "platformDirection": "string",
                                                                "direction": "string",
                                                                "naptanTo": "string",
                                                                "timeSlice": "string",
                                                                "value": 0
                                                            }
                                                        ]
                                                    },
                                                    "routeType": "Unknown",
                                                    "status": "Unknown"
                                                }
                                            ],
                                            "status": true,
                                            "id": "string",
                                            "url": "string",
                                            "name": "string",
                                            "lat": 0,
                                            "lon": 0
                                        }
                                    ],
                                    "timetable": {
                                        "departureStopId": "string",
                                        "routes": [
                                            {
                                                "stationIntervals": [
                                                    {
                                                        "id": "string",
                                                        "intervals": [
                                                            {
                                                                "stopId": "string",
                                                                "timeToArrival": 0
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "schedules": [
                                                    {
                                                        "name": "string",
                                                        "knownJourneys": [
                                                            {
                                                                "hour": "string",
                                                                "minute": "string",
                                                                "intervalId": 0
                                                            }
                                                        ],
                                                        "firstJourney": {
                                                            "hour": "string",
                                                            "minute": "string",
                                                            "intervalId": 0
                                                        },
                                                        "lastJourney": {
                                                            "hour": "string",
                                                            "minute": "string",
                                                            "intervalId": 0
                                                        },
                                                        "periods": [
                                                            {
                                                                "type": "Normal",
                                                                "fromTime": {
                                                                    "hour": "string",
                                                                    "minute": "string"
                                                                },
                                                                "toTime": {
                                                                    "hour": "string",
                                                                    "minute": "string"
                                                                },
                                                                "frequency": {
                                                                    "lowestFrequency": 0,
                                                                    "highestFrequency": 0
                                                                }
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "disambiguation": {
                                        "disambiguationOptions": [
                                            {
                                                "description": "string",
                                                "uri": "string"
                                            }
                                        ]
                                    },
                                    "statusErrorMessage": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tfl-39"
                                },
                                "example": {
                                    "lineId": "string",
                                    "lineName": "string",
                                    "direction": "string",
                                    "pdfUrl": "string",
                                    "stations": [
                                        {
                                            "routeId": 0,
                                            "parentId": "string",
                                            "stationId": "string",
                                            "icsId": "string",
                                            "topMostParentId": "string",
                                            "direction": "string",
                                            "towards": "string",
                                            "modes": [
                                                "string"
                                            ],
                                            "stopType": "string",
                                            "stopLetter": "string",
                                            "zone": "string",
                                            "accessibilitySummary": "string",
                                            "hasDisruption": true,
                                            "lines": [
                                                {
                                                    "id": "string",
                                                    "name": "string",
                                                    "uri": "string",
                                                    "fullName": "string",
                                                    "type": "string",
                                                    "crowding": {
                                                        "passengerFlows": [
                                                            {
                                                                "timeSlice": "string",
                                                                "value": 0
                                                            }
                                                        ],
                                                        "trainLoadings": [
                                                            {
                                                                "line": "string",
                                                                "lineDirection": "string",
                                                                "platformDirection": "string",
                                                                "direction": "string",
                                                                "naptanTo": "string",
                                                                "timeSlice": "string",
                                                                "value": 0
                                                            }
                                                        ]
                                                    },
                                                    "routeType": "Unknown",
                                                    "status": "Unknown"
                                                }
                                            ],
                                            "status": true,
                                            "id": "string",
                                            "url": "string",
                                            "name": "string",
                                            "lat": 0,
                                            "lon": 0
                                        }
                                    ],
                                    "stops": [
                                        {
                                            "routeId": 0,
                                            "parentId": "string",
                                            "stationId": "string",
                                            "icsId": "string",
                                            "topMostParentId": "string",
                                            "direction": "string",
                                            "towards": "string",
                                            "modes": [
                                                "string"
                                            ],
                                            "stopType": "string",
                                            "stopLetter": "string",
                                            "zone": "string",
                                            "accessibilitySummary": "string",
                                            "hasDisruption": true,
[...]
